<!DOCTYPE html>
<html>
<head> 
	<title> About </title>
	<link rel="stylesheet" type="text/css" href="static/pacApp/assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="static/pacApp/assets/css/table.css" />
	<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/pacApp/assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/static/pacApp/assets/css/schedule.css" />
</head>

<body>
  <div id="headerabout">
  	<div id="page-wrapper">
			<!-- Header -->
				<div id="header">
					<!-- Inner -->
						<div class="inner">
							<header>
								 <h1>About</h1>
								<hr />
								{% if user != 'None' %} 
								<p> Hello, {{firstname}} </p>
								{% endif %}
							</header>
						</div>
            <nav id="nav">
              <ul>
                <li><a href="homepage">Home</a></li>
                 <li><a href="#">About</a></li>
                <li><a href="">Booking</a>
                  <ul>
                    <li><a href="schedule">Book Space</a></li>
                    <li><a href="adminForm#">PAC Admin</a></li>
                  </ul>
                </li>
                {% if user != 'None' %} 
                <li id="logoutButton">
                  <span>{{firstname}}</span>
                  <ul>
                    <li><a href="#">Logout</a></li>
                  </ul>
                </li>
                {% endif %}
              </ul>
            </nav>
      </div>
    </div>
</div>

			<!-- what we are --> 
			<div class="wrapper style1">

					<section id="features" class="container special">
						<header>
							</br>
							<h2>What is Princeton Dance ?</h2>
							<p style="font-size:1em;text-align:left;margin-left:auto;margin-right:auto;"> Princeton Dance is a web application catered towards dancers at Princeton University to view and book dance studios for rehearsals and other practice sessions. It is a centralized online system to clearly view the availability of dance studios on campus.
							<br>
							<br>
							Princeton Dance also features a scheduling component that allows the Performing Arts Council (PAC) to input requests from dance groups for dance rehearsal spaces. These requests are put through our scheduling algorithm to output semeserly schedules of dance studio availabilities for all students to view online. 
							</p>
						</header>
					</section>
				</div>

    <div class="wrapper style1">

					<section id="features" class="container special">
						<header>
					
							<h2> Our Team</h2>
							<p> The amazing people that brought this project to life!</p>
						</header>
						<div class="row">
							<article class="col-3 col-12-mobile special">
								<a class="image featured"><img src="static/pacApp/images/nicole.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Nicole Meister</a></h3>
								</header>
								<p style="text-align: center;">
									ELE '22 Backend
								</p>
							</article>
							<article class="col-3 col-12-mobile special">
								<a class="image featured"><img src="static/pacApp/images/edward.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Edward Tian</a></h3>
								</header>
								<p style="text-align: center;">
									COS '22 Frontend
								</p>
							</article>
							<article class="col-3 col-12-mobile special">
								<a class="image featured"><img src="static/pacApp/images/helen.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Helen Chen</a></h3>
								</header>
								<p style="text-align: center;">
									COS '22 Frontend
								</p>
							</article>
							<article class="col-3 col-12-mobile special">
								<a class="image featured"><img src="static/pacApp/images/angela.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Angela Li<LInk:rss></LInk:rss></a></h3>
								</header>
								<p style="text-align: center;">
									COS '21 Team Lead
								</p>
							</article>
						</div>
					</section>

				</div>

			<!-- Acknowledgements --> 
			<div class="wrapper style1">

					<section id="features" class="container special">
						<header>
							</br>
							<h2>Acknowledgements</h2>

						</header>
					</section>
				</div>

				<!-- OTHER --> 
			<div class="wrapper style1">

					<section id="features" class="container special">
						<header>
							</br>
							<h2>Feedback</h2>
							<p>Found a bug or want to give us feedback? Fill out this <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe-T3JF3fT9tYHXpaj1q_tVKP1b93M_fbHEGGrjsnafphDb-g/viewform?usp=pp_url" style="color:#df7366;text-decoration-color:#df7366;">form</a>. <br>Thanks so much for trying out Princeton Dance!</p>
						</header>
					</section>
				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<!-- Contact
									<section class="contact">
										<header>
											<h3>Contact: pacpps@princeton.edu</h3>
										</header>
									</section> -->
								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; PAC Dance. All rights reserved.</li>
										</ul>
									</div>
							</div>

						</div>
					</div>
				</div>


			<script src="static/pacApp/assets/js/jquery.min.js"></script>
			<script src="static/pacApp/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/pacApp/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/pacApp/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/pacApp/assets/js/browser.min.js"></script>
			<script src="static/pacApp/assets/js/breakpoints.min.js"></script>
			<script src="static/pacApp/assets/js/util.js"></script>
			<script src="static/pacApp/assets/js/main.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
			<script>
				$('li').hover(function (event) {
					$(event.target).addClass('active');
				}, function (event) {
					$(event.target).removeClass('active');
				})
			</script>


 </body>
 </html>