<!DOCTYPE html>
<html>
<head> 
	<title> About </title>
	<link rel="stylesheet" type="text/css" href="static/pacApp/assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="static/pacApp/assets/css/table.css" />
	<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/pacApp/assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/static/pacApp/assets/css/schedule.css" />
</head>
<style>
    .wrapper {
    background: #fff;
    margin: 0 0 2em 0;
    padding: 4em 0 2em 0;
	}
</style>

<body>
  <div id="headerabout">
  	<div id="page-wrapper">
			<!-- Header -->
				<div id="header">
					<!-- Inner -->
						<div class="inner">
							<header>
								 <h1>About</h1>
								<hr />
								{% if user != 'None' %} 
								<p> Hello, {{firstname}} </p>
								{% endif %}
							</header>
						</div>
            <nav id="nav">
              <ul>
                <li><a href="homepage">Home</a></li>
                 <li><a href="#">About</a></li>
                <li><a href="">Booking</a>
                  <ul>
                    <li><a href="schedule">Book Space</a></li>
                    <li><a href="adminForm#">PAC Admin</a></li>
                  </ul>
                </li>
                {% if user != 'None' %} 
                <li id="logoutButton">
                  <span>{{firstname}}</span>
                  <ul>
                    <li><a href="logoutView">Logout</a></li>
                  </ul>
                </li>
                {% endif %}
              </ul>
            </nav>
      </div>
    </div>
</div>
	{% include 'templates/pacApp/scroll.html' %}
			<!-- what we are --> 
			<div class="wrapper style1">

					<section id="features1" class="container special">
						<header>
							</br>
							<h2>What is Princeton Dance ?</h2>
							<p style="font-size:1.3em;text-align:left;margin-left:auto;margin-right:auto;"> We’re a team of dancers aiming to improve the daily experience of the dance community.
							We built Princeton Dance - a three tier web application for dancers at Princeton University to book and view studio availability for the ten dance studios managed by the Performing Arts Council (PAC) on campus.

							<br>
							<br>
								Our product integrates with PAC and also features a scheduling component that allows PAC administration
								to input requests from dance groups for rehearsal spaces and outputs semesterly schedules for dance
								studios through our algorithm. The output is added to our calendar for all students to view online. Additionally,
								we provide a Map with detailed information on how to locate the dance studios and an updated list
								of dance spaces available at the current hour.
							</p>
						</header>
					</section>
				</div>

    <div class="wrapper style1">

					<section id="features2" class="container special">
						<header>
					
							<h2> Our Team</h2>
							<p> The amazing people that brought this project to life!</p>
						</header>
						<div class="row">
							<article class="col-3 col-12-mobile special">
								<a class="image featured"><img src="static/pacApp/images/nicole.jpg" alt="" /></a>
								<header>
									<h3><a>Nicole Meister</a></h3>
								</header>
								<p style="text-align: center;">
									Artistic Director of Sympoh Urban Arts group. ELE '22

									<br>
									<br>
									<a href = "" target = "_blank"> <i  class="fab fa-github"></i> </a>
									<a href = "" target = "_blank"> <i class="fab fa-linkedin"></i> </a>
								</p>
							</article>
							<article class="col-3 col-12-mobile special">
								<a class="image featured"><img src="static/pacApp/images/edward.jpg" alt="" /></a>
								<header>
									<h3><a>Edward Tian</a></h3>
								</header>
								<p style="text-align: center;">
									Aspiring journalist turned Soylent addict. COS '22.
									<br>
									<br>
									<a href = "https://github.com/ETedward" target = "_blank"> <i  class="fab fa-github"></i> </a>
									<a href = "https://www.linkedin.com/in/edward-tian-b07329ab" target = "_blank"> <i class="fab fa-linkedin"></i> </a>
								</p>


							</article>
							<article class="col-3 col-12-mobile special">
								<a class="image featured"><img src="static/pacApp/images/helen.jpg" alt="" /></a>
								<header>
									<h3><a>Helen Chen</a></h3>
								</header>
								<p style="text-align: center;">
									Just a dancer and NYC foodie. COS '22
									<br>
									<br>
									<a href = "https://github.com/Helen300" target = "_blank"> <i  class="fab fa-github"></i> </a>
									<a href = "https://www.linkedin.com/in/helen-chen-7094a8179/" target = "_blank"> <i class="fab fa-linkedin"></i> </a>
								</p>
							</article>
							<article class="col-3 col-12-mobile special">
								<a class="image featured"><img src="static/pacApp/images/angela.jpg" alt="" /></a>
								<header>
									<h3><a>Angela Li<LInk:rss></LInk:rss></a></h3>
								</header>
								<p style="text-align: center;">
									COS '21

									<br>
									<br>
									<a href = "" target = "_blank"> <i  class="fab fa-github"></i> </a>
									<a href = "" target = "_blank"> <i class="fab fa-linkedin"></i> </a>
								</p>
							</article>
						</div>
					</section>

				</div>

			<!-- Acknowledgements --> 
			<div class="wrapper style1">

					<section id="features3" class="container special">
						<header>
							<h2>Acknowledgements</h2>
						</header>
						<h3>
							<center>
								<br>
								<a href="https://www.cs.princeton.edu/~rdondero/"><u>Dr. Robert Dondero</u></a>
								<br>
								<label style="font-size: 18px;"> COS 333 Lead Instructor  </label>
								<br>
								<br>

								<a href="https://www.cs.princeton.edu/~el24/"><u>Elena Lucherini</u></a>
								<br>
								<label style="font-size: 18px;"> Spring 2020 COS 333 TA Advisor </label>
								<br>
								<br>

								<a href="https://odus.princeton.edu/people/jessica-bailey"><u>Jessica Bailey</u></a>
								<br>
								<label style="font-size: 18px;"> Princeton ODUS Arts Program Coordinator </label>
								<br>
								<br>

								<a><u>Samantha Liu</u></a>
								<br>
								<label style="font-size: 18px;"> Performing Arts Council Rehearsal Manager 2020 </label>
								<br>
								<br>

								<a><u>Aishah Balogun</u></a>
								<br>
								<label style="font-size: 18px;"> Performing Arts Council Rehearsal Manager 2019 </label>
								<br>

							</center>
						
						</h3>
					</section>
				</div>

				<!-- OTHER --> 
			<div class="wrapper style1">

					<section id="features4" class="container special">
						<header>
							</br>
							<h2>Feedback</h2>
							<p>Found a bug or want to give us feedback? Fill out this <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe-T3JF3fT9tYHXpaj1q_tVKP1b93M_fbHEGGrjsnafphDb-g/viewform?usp=pp_url" style="color:#df7366;text-decoration-color:#df7366;">form</a>. <br>Thanks so much for trying out Princeton Dance!</p>
						</header>
					</section>
				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-12">
							
									<div class="copyright">
										<ul class="menu">
											<li>&copy; PAC Dance. All rights reserved.</li>
										</ul>
									</div>
							</div>

						</div>
					</div>
				</div>


			<script src="static/pacApp/assets/js/jquery.min.js"></script>
			<script src="static/pacApp/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/pacApp/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/pacApp/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/pacApp/assets/js/browser.min.js"></script>
			<script src="static/pacApp/assets/js/breakpoints.min.js"></script>
			<script src="static/pacApp/assets/js/util.js"></script>
			<script src="static/pacApp/assets/js/main.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
			


 </body>
 </html>