<form>
	<div id="bookstudio"></div>
	<div id="bookstarttime"></div>
	<div id="dayofweek"></div>
	<div id="bookdate"></div>
  <!-- upon clicking this button, calls sendbook with the value of confirm previously made --> 
	<div id='confirm' class="button" onclick="sendbook(this.value)" style="float:right;padding:10px">Confirm</div>
	
  <span> Who are you booking for? </span>
  <br>
  <input type="radio" id="self" name="usertype" value="self" required><label class="grouplabel" for="self">Self</label>
		<div class="reveal-if-activeSelf">
  			Name: <input class="require-if-active" id="selfname" type="text" />
  		</div>
	
	<input type="radio" id="group" name="usertype" value="group"><label class="grouplabel" for="group">Group</label> 
		<div class="reveal-if-activeGroup">
  			<table style="width:100%">
  				<tr class="ingroup">
  					<td class="ingroup">
  						<input type="radio" id="BACradio" name="dgroup" value="BAC"><label for="BACradio" class="grouplabel">BAC</label> 
  					</td>
  					<td class="ingroup">
  						<input type="radio" id="Sympohradio" name="dgroup" value="Sympoh"><label for="Sympohradio" class="grouplabel">Sympoh</label> 
 					  </td>
            <td class="ingroup">
              <input type="radio" id="Naachoradio" name="dgroup" value="Naacho"><label for="Naachoradio" class="grouplabel">Naacho</label> 
            </td>
            <td class="ingroup">
              <input type="radio" id="Six14radio" name="dgroup" value="Six14"><label for="Six14radio" class="grouplabel">Six14</label> 
            </td>
  				</tr>

  				<tr>
  					<td class="ingroup">
  						<input type="radio" id="Disiacradio" name="dgroup" value="Disiac"><label for="Disiacradio" class="grouplabel">Disiac</label> 
  					</td>
  					<td class="ingroup">
  						<input type="radio" id="eXpressionsradio" name="dgroup" value="eXpressions"><label for="eXpressionsradio" class="grouplabel">eXpressions</label> 
 					  </td>
            <td class="ingroup">
              <input type="radio" id="Bhangraradio" name="dgroup" value="Bhangra"><label for="Bhangraradio" class="grouplabel">Bhangra</label> 
            </td>
             <td class="ingroup">
              <input type="radio" id="Kokopopsradio" name="dgroup" value="Kokopops"><label for="Kokopopsradio" class="grouplabel">Kokopops</label> 
            </td>
  				</tr>

  				<tr>
  					<td class="ingroup">
  						<input type="radio" id="BodyHyperadio" name="dgroup" value="BodyHype"><label for="BodyHyperadio" class="grouplabel">BodyHype</label> 
  					</td>
  					<td class="ingroup">
  						<input type="radio" id="PUBradio" name="dgroup" value="PUB"><label for="PUBradio" class="grouplabel">PUB</label> 
 					  </td>
            <td class="ingroup">
              <input type="radio" id="Triple8radio" name="dgroup" value="Triple8"><label for="Triple8radio" class="grouplabel">Triple 8</label> 
            </td>
            <td class="ingroup">
              <input type="radio" id="HighSteppersradio" name="dgroup" value="HighSteppers"><label for="HighSteppersradio" class="grouplabel">HighSteppers</label> 
            </td>
          </tr>
  			</table>
  		</div>
</form>


  <div>
      <div id="handleBadUser" class="modal">
        <!-- Modal content -->
        <div class="modal-content-error">
          <span id="closeBadUser" style="text-align:right;" class="close">&times;</span>
          <p id="badUserMsg"></p>
          <div id="okbad" class="button" style="float:right;padding:4px 10px 4px 10px;display:inline-block;">OK</div>
        </div>
      </div>
   </div>


<script> 
  
  // Execute a function when the user releases a key on the keyboard
  // for the input typing one if user presses enter this will get executed 
  $('#selfname').keydown(function (event) {
  console.log('clicking enter');
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    sendbook($('#confirm').val());
  }
  });



  


</script>