<form>
	<div id="bookstudio"></div>
	<div id="bookstarttime"></div>
	<div id="dayofweek"></div>
	<div id="bookdate"></div>
	<div id='confirm' class="button" onclick="sendbook(this.value)" style="float:right;padding:10px">Confirm </div>
	
  <span> Who are you booking for? </span>
  <br>
  <input type="radio" id="self" name="usertype" value="self" required><label for="self">Self</label>
		<div class="reveal-if-activeSelf">
  			Name: <input class="require-if-active" id="selfname" type="text" />
  		</div>
	
	<input type="radio" id="group" name="usertype" value="group"><label for="group">Group</label> 
		<div class="reveal-if-activeGroup">
  			<table style="width:40%">
  				<tr>
  					<td>
  						<input type="radio" id="BAC" name="dgroup" value="BAC"><label for="bac" class="group">BAC</label> 
  					</td>
  					<td>
  						<input type="radio" id="Sympoh" name="dgroup" value="Sympoh"><label for="sympoh" class="group">Sympoh</label> 
 					</td>
  				</tr>

  				<tr>
  					<td>
  						<input type="radio" id="Disiac" name="dgroup" value="Disiac"><label for="disiac" class="group">Disiac</label> 
  					</td>
  					<td>
  						<input type="radio" id="Expressions" name="dgroup" value="Expressions"><label for="expressions" class="group">Expressions</label> 
 					</td>
  				</tr>

  				<tr>
  					<td>
  						<input type="radio" id="BodyHype" name="dgroup" value="BodyHype"><label for="BodyHype" class="group">BodyHype</label> 
  					</td>
  					<td>
  						<input type="radio" id="PUB" name="dgroup" value="PUB"><label for="pub" class="group">PUB</label> 
 					</td>
  				</tr>
  			</table>
  		</div>
</form>


<script> 
	function revealMore() {
		$('.moreGroups').css('display','inline');
		$('#more').css('display','none');
		$('#less').css('display','block');
	}
	function hideMore() {
		$('#less').css('display','none');
		$('#more').css('display','block');
		$('.moreGroups').css('display','none');
	}


</script>