<style>
	#wilcox {
	  display: none;
	}
	#bloomberg
	{
	  display: none;
	}
	#dillon1 {
	  display: none;
	}
	#dillon2
	{
	  display: none;
	}
	#dillon3 {
	  display: none;
	}
	#whitman
	{
	  display: none;
	}
	#murphy {
	  display: none;
	}
	#ns1
	{
	  display: none;
	}
	#ns2 {
	  display: none;
	}
	#ns3
	{
	  display: none;
	}
</style>
<section class="carousel" id = "carousel">
					<div class="reel" id = "art1">
						<article id = "wilcox">
							<a class="image featured"><img src="static/pacApp/images/wilcox.jpg" alt="" /></a>
							<header>
								<h3><a href="schedule">Wilcox</a></h3>
							</header>
							<p>Second floor of Wilcox Hall facing East Terrace. Equipped with sound system and wooden floor. Capacity: 35.</p>
						</article>

						<article id = "bloomberg">
							<a class="image featured"><img src="static/pacApp/images/bloomberg.jpg" alt="" /></a>
							<header>
								<h3><a href="schedule">Bloomberg</a></h3>
							</header>
							<p>Basement floor in East Wing of Bloomberg hall. Equipped with sound system and tile floor. Capacity: 25.</p>
						</article>

						<article id = "dillon1">
							<a class="image featured"><img src="static/pacApp/images/ddance.jpg" alt="" /></a>
							<header>
								<h3><a href="schedule">Dillon Dance</a></h3>
							</header>
							<p>Located above Stephen Fitness Center in Dillon Gym. Popular yoga and rehearsal space. Capacity: 35.</p>
						</article>

						<article id = "dillon2">
							<a class="image featured"><img src="static/pacApp/images/dmar.jpg" alt="" /></a>
							<header>
								<h3><a href="schedule">Dillon MAR</a></h3>
							</header>
							<p>Located below Stephens Fitness Center. Equipped with mats & padding ideal for jumps & flips. Capacity: 30.</p>
						</article>

						<article id = "dillon3">
							<a class="image featured"><img src="static/pacApp/images/dmpr.jpg" alt="" /></a>
							<header>
								<h3><a href="schedule">Dillon MPR</a></h3>
							</header>
							<p>Located second floor of Dillon Gym above basketball courts. Largest dance space on campus. Capacity: 95. </p>
						</article>

						<article id="whitman">
							<a class="image featured"><img src="static/pacApp/images/whitman.jpg" alt="" /></a>
							<header>
								<h3><a href="schedule">Whitman Dance</a></h3>
							</header>
							<p>Located in the basement of Whitman Community Hall below the "Whitman common room." Capacity: 30. </p>
						</article>
						<article id="murphy">
							<a class="image featured"><img src="static/pacApp/images/murphy.jpg" alt="" /></a>
							<header>
								<h3><a href="schedule">Murphy Studio</a></h3>
							</header>
							<p>Located third floor of the Wallace building in Lewis. Beautiful scenic location; white tile floor. <br> Capacity: 45.</p>
						</article>
						<article id="ns1">
							<a class="image featured"><img src="static/pacApp/images/nsmain.jpg" alt="" /></a>
							<header>
								<h3><a href="schedle">New South Main</a></h3>
							</header>
							<p>First floor New South. Requires prox access and registration with PAC. Popular rehearsal space. Capacity: 70.</p>
						</article>
						<article id="ns2">
							<a class="image featured"><img src="static/pacApp/images/nswarmup.jpg" alt="" /></a>
							<header>
								<h3><a href="schedule">New South Warmup</a></h3>
							</header>
							<p>Located across from New South Main. Small studio ideal for individuals or small groups. Capacity: 20.</p>
						</article>
						<article id = "ns3">
							<a class="image featured"><img src="static/pacApp/images/nstheatre.jpg" alt="" /></a>
							<header>
								<h3><a href="schedule">New South Theatre</a></h3>
							</header>
							<p>Located first floor New South building on the North side. Theatre space with stage and audience seats. </p>
						</article>
						<article>
							<a class="image featured"><img src="static/pacApp/images/zoom.jpg" alt="" /></a>
							<header>
								<h3><a href="https://princeton.zoom.us/j/947865435">Virtual-Zoom Dance</a></h3>
							</header>
							<p>Located wherever you want it to be. Equipped with your friends more than 6 feet away. <br> Capacity: Infinity </p>
						</article>
					</div>
</section>

<script type="text/javascript">


function display() {
	var available = $('#carousel').data('available');
	var list = {{available | safe }}
	if (list[9])
		document.getElementById("wilcox").style.display = "inline-block";
	if (list[0])
		document.getElementById("bloomberg").style.display = "inline-block";
	if (list[1])
		document.getElementById("dillon1").style.display = "inline-block";
	if (list[2])
		document.getElementById("dillon2").style.display = "inline-block";
	if (list[3])
		document.getElementById("dillon3").style.display = "inline-block";
	if (list[8])
		document.getElementById("whitman").style.display = "inline-block";
	if (list[4])
		document.getElementById("murphy").style.display = "inline-block";
	if (list[5])
		document.getElementById("ns1").style.display = "inline-block";
	if (list[6])
		document.getElementById("ns2").style.display = "inline-block";
	if (list[7])
		document.getElementById("ns3").style.display = "inline-block";
}

display();

</script>

