<!-- Tab content -->
<form method="POST">
<div id="company_day_1" class="tabcontent">
Company Day (1st choice): 
			<br>
 			<input type="radio" class="form-control" name="company_day_1" value="Sunday">
				<label for="sun">Sunday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_1" value="Monday">	
				<label for="mon">Monday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_1" value="Tuesday">
				<label for="tues">Tuesday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_1" value="Wednesday">
				<label for="wed">Wednesday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_1" value="Thursday">
				<label for="thurs">Thursday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_1" value="Friday">
				<label for="fri">Friday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_1" value="Saturday">
				<label for="sat">Saturday</label>
			<br>
			<br>
			Company Start Time: <input type="text" class="form-control" name="company_start_time_1"><br>
			Company End Time: <input type="text" class="form-control" name="company_end_time_1"><br>
			Desired Company Studio:<br>
			<input type="radio"  name="company_studio_1" value="MPR">
				<label for="mpr">Dillion MPR</label>
			<br>
			<input type="radio" name="company_studio_1" value="Wilcox">	
				<label for="wil">Wilcox</label>
			<br>
			<input type="radio" name="company_studio_1" value="Murphy">
				<label for="mur">Murphy</label>
			<br>
			<input type="radio" name="company_studio_1" value="Roberts">
				<label for="rob">Roberts</label>
			<br>
			<input type="radio" name="company_studio_1" value="NS">
				<label for="ns">NS Big</label>
			<br>
</div>
</form>

<div id="company_day_2" class="tabcontent">
Company Day (2nd choice):
 		<input type="radio" class="form-control" name="company_day_2" value="0">
				<label for="sun">Sunday</label>
			<input type="radio" class="form-control" name="company_day_2" value="1">	
				<label for="mon">Monday</label>
			<input type="radio" class="form-control" name="company_day_2" value="2">
				<label for="tues">Tuesday</label>
			<input type="radio" class="form-control" name="company_day_2" value="3">
				<label for="wed">Wednesday</label>
			<input type="radio" class="form-control" name="company_day_2" value="4">
				<label for="thurs">Thursday</label>
			<input type="radio" class="form-control" name="company_day_2" value="5">
				<label for="fri">Friday</label>
			<input type="radio" class="form-control" name="company_day_2" value="6">
				<label for="sat">Saturday</label>
			<br>
			<br>
			Company Start Time: <input type="text" class="form-control" name="company_start_time_2"><br>
			Company End Time: <input type="text" class="form-control" name="company_end_time_2"><br>
			Desired Company Studio: <br>
			<input type="radio"  name="company_studio_2" value="mpr">
				<label for="mpr">Dillion MPR</label>
			<br>
			<input type="radio" name="company_studio_2" value="wilcox">	
				<label for="wil">Wilcox</label>
			<br>
			<input type="radio" name="company_studio_2" value="murphy">
				<label for="mur">Murphy</label>
			<br>
			<input type="radio" name="company_studio_2" value="roberts">
				<label for="rob">Roberts</label>
			<br>
			<input type="radio" name="company_studio_2" value="ns">
				<label for="ns">NS Big</label>
			<br>
</div>

<div id="company_day_3" class="tabcontent">
Company Day (3rd choice):
  			<input type="radio" class="form-control" name="company_day_3" value="sun">
				<label for="sun">Sunday</label>
			<input type="radio" class="form-control" name="company_day_3" value="mon">	
				<label for="mon">Monday</label>
			<input type="radio" class="form-control" name="company_day_3" value="tues">
				<label for="tues">Tuesday</label>
			<input type="radio" class="form-control" name="company_day_3" value="wed">
				<label for="wed">Wednesday</label>
			<input type="radio" class="form-control" name="company_day_3" value="thurs">
				<label for="thurs">Thursday</label>
			<input type="radio" class="form-control" name="company_day_3" value="fri">
				<label for="fri">Friday</label>
			<input type="radio" class="form-control" name="company_day_3" value="sat">
				<label for="sat">Saturday</label>
			<br>
			<br>
			Company Start Time: <input type="text" class="form-control" name="company_start_time_3"><br>
			Company End Time: <input type="text" class="form-control" name="company_end_time_3"><br>
			Desired Company Studio:<br>
			<input type="radio"  name="company_studio_3" value="mpr">
				<label for="mpr">Dillion MPR</label>
			<br>
			<input type="radio" name="company_studio_3" value="wilcox">	
				<label for="wil">Wilcox</label>
			<br>
			<input type="radio" name="company_studio_3" value="murphy">
				<label for="mur">Murphy</label>
			<br>
			<input type="radio" name="company_studio_3" value="roberts">
				<label for="rob">Roberts</label>
			<br>
			<input type="radio" name="company_studio_3" value="ns">
				<label for="ns">NS Big</label>
			<br>
</div>