<!DOCTYPE html>
 <html>
   <head>
      <title>PrincetonDance.com</title>
 
      <link rel="stylesheet"  type="text/css" href="/static/pacApp/assets/css/schedule.css">
      <link rel="stylesheet" href="static/pacApp/assets//css/table.css" />
	   <link rel="stylesheet" href="static/pacApp/assets/css/main.css" />
       <script src="/static/pacApp/assets/js/input.js"></script> 

      </head>
   <body>
      {% include 'templates/pacApp/tableElements/daystab.html' %}
   
   <!-- importing jquery library --> 
   <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
      </script>

   <script>
         function activateDay()
         {  // getting today's date 
            let today = new Date();
            // getting the day of week for today
            // returned as integers, 0 = sunday, 6 = saturday
            let todayDay = today.getDay();
            // creating the id descriptor
            let selectTab = '#d' + todayDay;
            // adding a class to element with id d(todayDay)
            $(selectTab).addClass('today');
            // activate it by clicking on this element 
            $(selectTab).click();
         }

         function setup()
         {  // on input event, handle and calls getResults
            activateDay();

         }
         $('document').ready(setup);
   </script>

   <script type="text/javascript">
   // for each booking in wilcox, we make it a object here
   // each object will also be within this list 
    var wilcox = [
    {% for booking in Wilcox %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"wilcox",
         week_day:"{{booking.week_day}}"
        },
    {% endfor %}
   ];


    var bloomberg = [
    {% for booking in Bloomberg %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"bloomberg",
         week_day:"{{booking.week_day}}"
        },
    {% endfor %}
   ];


   console.log(wilcox);
   console.log(bloomberg);
   // prints out each item in lists company name 
   // for each of the bookings we call function called createBooking
   wilcox.forEach(createBooking);
   bloomberg.forEach(createBooking);

   function createBooking(item, index) {

      for (let i = item.start_time; i != item.end_time; i++) {
         // ex. wilcox5
         console.log(item.studio)
         let col = '#' + String(item.studio + i + item.week_day);
         console.log(col)
         $(col).addClass('test');
         $(col).html(item.company_name);
      }  

   }

   </script>


   </body>
 </html>
