
<form action="{% url 'insert_ad_request' %}" method="POST" autocomplete="=off">
		{% csrf_token %}
		<div style="padding:0px" class="input-group">
			Company Name: <input type="text" class="form-control" name="name"> <br>
			Company Day: <input type="text" class="form-control" name="company_day"><br>
			Company Start Time: <input type="text" class="form-control" name="company_start_time"><br>
			Company End Time: <input type="text" class="form-control" name="company_end_time"><br>
			Desired Company Studio: <input type="text" class="form-control" name="company_studio"><br>
			Ranking of Studios:<br>
			Rank #1: <input type="text" class = "form-control" name="rank_1"><br>
			Rank #2: <input type="text" class = "form-control" name="rank_2"><br>
			Rank #3: <input type="text" class = "form-control" name="rank_3"><br>
			Rank #4: <input type="text" class = "form-control" name="rank_4"><br>
			Rank #5: <input type="text" class = "form-control" name="rank_5"><br>
			Number of Rehearsals Needed: <input type="text" class="form-control" name="num_reho"><br>
			Number of Members: <input type="text" class="form-control" name="num_members"><br>
			<div class="input-group-append text-info">
				<span class="input-grou-text bg-white py-0">
					<button type="submit" class="btn btn-sm text-info">
						<i class="fa fa-plus-circle fa-lg">
						</i>
						Submit
					</button>
				</span>
			</div>
		</div>
	</form>
 
Results of DB:
	<ul class="list-group">
		{% for item in all_requests %}
		<li class="list-group-item">{{item.name}}{{item.company_day}}{{item.company_start_time}}{{item.company_end_time}}</li>
		{% endfor %}
	</ul>
