<!DOCTYPE html>
<html>
<head> 
	<title> About </title>
	<link rel="stylesheet" type="text/css" href="static/pacApp/assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="static/pacApp/assets/css/table.css" />
	<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/pacApp/assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/static/pacApp/assets/css/schedule.css" />
</head>

<body>
  <div id="headerabout">
  	<div id="page-wrapper">
			<!-- Header -->
				<div id="header">
					<!-- Inner -->
						<div class="inner">
							<header>
								<h1>Are you a PAC manager?</h1>
								<hr style="border-style:inset;border-width: 1px;display:block;"/>
							  </header>
							  <p style="font-size:18px;text-align:center">This page is reserved for PAC managers to create
								dance studio schedules with our scheduling algorithm!<br> If you are a new PAC
								member, please contact a previous manager to give you access.</p>
						</div>
            <nav id="nav">
              <ul>
                <li><a href="homepage">Home</a></li>
                 <li><a href="#">About</a></li>
                <li><a href="">Booking</a>
                  <ul>
                    <li><a href="schedule">Book Space</a></li>
                    <li><a href="adminForm#">PAC Admin</a></li>
                  </ul>
                </li>
                {% if firstname != 'None' %} 
                <li id="logoutButton">
                  <span>{{firstname}}</span>
                  <ul>
                    <li><a href="/accounts/logout">Logout</a></li>
                  </ul>
                </li>
                {% endif %}
              </ul>
            </nav>
      </div>
    </div>
</div>



			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<!-- Contact
									<section class="contact">
										<header>
											<h3>Contact: pacpps@princeton.edu</h3>
										</header>
									</section> --> 
								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; PAC Dance. All rights reserved.</li>
										</ul>
									</div>
							</div>

						</div>
					</div>
				</div>


			<script src="static/pacApp/assets/js/jquery.min.js"></script>
			<script src="static/pacApp/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/pacApp/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/pacApp/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/pacApp/assets/js/browser.min.js"></script>
			<script src="static/pacApp/assets/js/breakpoints.min.js"></script>
			<script src="static/pacApp/assets/js/util.js"></script>
			<script src="static/pacApp/assets/js/main.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>



 </body>
 </html>