<table style="width:100%;"> 
	<tr>
		<th></th>
		<th class="studio" >Wilcox</th>
		<th class="studio" >Bloomberg</th>
		<th class="studio" >Roberts</th>
		<th class="studio" >Murphy</th>
		<th class="studio" >New South</th>
		<th class="studio" >Dillion Dance</th>
		<th class="studio" >Dillion MPR</th>
	</tr>

	<tr>
		<td class="time">4</td>
		<!--- <td>Wilcox 4</td>
		<td>Bloomberg 4</td>
		<td><td>
		<td><td>
		<td><td>
		<td><td> -->

	</tr>
	<tr>
		<td class="time">5</td>
		<td>{{context}}</td>
		<!--- <td>Wilcox 5</td>
		<td>Bloomberg 5</td>
		<td><td>
		<td><td>
		<td><td>
		<td><td> -->
	</tr>

	<tr>
		<td class="time">6</td>
		<!--- <td>Wilcox 6</td>
		<td>Bloomberg 6</td>
		<td><td>
		<td><td>
		<td><td>
		<td><td> -->
	</tr>
	<tr>
		<td class="time">7</td>
		<!--- <td>Wilcox 7</td>
		<td>Bloomberg 7</td>
		<td><td>
		<td><td>
		<td><td>
		<td><td> -->
	</tr>
	<tr>
		<td class="time">8</td>
		<!--- <td>Wilcox 7</td>
		<td>Bloomberg 7</td>
		<td><td>
		<td><td>
		<td><td>
		<td><td> -->
	</tr>
	<tr>
		<td class="time">9</td>
		
	</tr>
	<tr><td class="time">10</td></tr>
	<tr><td class="time">11</td></tr>
	<tr><td class="time">12</td></tr>
	<tr><td class="time">1</td></tr>
	<tr><td class="time">2</td></tr>
	
</table>

<form action="{% url 'insert_space_item' %}" method="POST" autocomplete="=off">
	{% csrf_token %}
	<div class="input-gtoup">
		Company_Name: <input type="text" class="form-control" name="company_name"> <br>
		Time_Start: <input type="text" class="form-control" name="time_start"><br>
		Time_End: <input type="text" class="form-control" name="time_end"><br>
		Studio: <input type="text" class="form-control" name="studio"><br>
		<div class="input-group-append text-info">
			<span class="input-grou-text bg-white py-0">
				<button type="submit" class="btn btn-sm text-info">
					<i class="fa fa-plus-circle fa-lg">
					</i>
					Post
				</button>
			</span>
		</div>
	</div>
</form>
Results of DB:
<ul class="list-group">
	<!-- this space list comes from views.py-->
	{% for item in space_list %}
	<li class="list-group-item">{{item.company_name}}{{item.time_start}}{{item.time_end}}{{item.studio}}</li>
	{% endfor %}
</ul>