<div class="container-table100">
	<div class="wrap-table100">
		<div class="table100 ver1 m-b-110">
			<table data-vertable="ver1">
						{% include 'templates/pacApp/tableheader.html' %}

						<tbody>


							<tr class="row100">
								<td class="column100 column1" data-column="column1">Wilcox</td>
								<!-- grabs context['Wilcox'] -->
								{% for booking in Wilcox %}
									{% for i in booking.start_time|get_range:booking.end_time %}
										<td class="column100 column{{i}}" data-column="column{{i}}">
										{{booking.company_name}}</td>
									{% endfor %}
								{% endfor %}
							</tr>
								<!-- {% if context|length %}
									
								{% else %}
									{% include 'templates/pacApp/emptycol.html' %}
								{% endif %} --> 
							</tr>
							<tr class="row100">
								<td class="column100 column1" data-column="column1">Bloomberg</td>
								{% for booking in Bloomberg %}
									{% for i in booking.start_time|get_range:booking.end_time %}
										<td data-column="column{{i}}">
										{{booking.company_name}}</td>
									{% endfor %}
								{% endfor %}
							</tr>
							<tr class="row100">
								<td class="column100 column1" data-column="column1">Dillion Dance</td>
								{% for timeslot in DillionDance %}
										<td class="column100 column3" data-column=column{{timeslot.time_start}}>{{timeslot.company_name}}</td>
								{% endfor %}
							</tr>
							<tr class="row100">
								<td class="column100 column1" data-column="column1">Dillion MPR</td>
								{% for timeslot in Bloomberg %}
										<td class="column100 column3" data-column=column{{timeslot.time_start}}>{{timeslot.company_name}}</td>
								{% endfor %}
							</tr>
							<tr class="row100">
								<td class="column100 column1" data-column="column1">Roberts</td>
								{% for timeslot in Bloomberg %}
										<td class="column100 column3" data-column=column{{timeslot.time_start}}>{{timeslot.company_name}}</td>
								{% endfor %}
							</tr>
							<tr class="row100">
								<td class="column100 column1" data-column="column1">Murphy</td>
								{% for timeslot in Bloomberg %}
										<td class="column100 column3" data-column=column{{timeslot.time_start}}>{{timeslot.company_name}}</td>
								{% endfor %}
							</tr>
							<tr class="row100">
								<td class="column100 column1" data-column="column1">New South</td>
								{% for timeslot in Bloomberg %}
										<td class="column100 column3" data-column=column{{timeslot.time_start}}>{{timeslot.company_name}}</td>
								{% endfor %}
							</tr>
							<tr class="row100">
								<td class="column100 column1" data-column="column1">RoMa Dance</td>
								{% for timeslot in Bloomberg %}
										<td class="column100 column3" data-column=column{{timeslot.time_start}}>{{timeslot.company_name}}</td>
								{% endfor %}
							</tr>
							<tr class="row100">
								<td class="column100 column1" data-column="column1">Forbes Dance</td>
								{% for timeslot in Bloomberg %}
										<td class="column100 column3" data-column=column{{timeslot.time_start}}>{{timeslot.company_name}}</td>
								{% endfor %}
							</tr>
							<tr class="row100">
								<td class="column100 column1" data-column="column1">Ellie</td>
								{% for timeslot in Bloomberg %}
										<td class="column100 column3" data-column=column{{timeslot.time_start}}>{{timeslot.company_name}}</td>
								{% endfor %}
							</tr>



						</tbody>
				</table>
			</div>
		</div>
	</div>
