 


<div> 
	<div id="errorModal" class="modal">
		 <!-- Modal content -->
        <div class="modal-content-error">
          <span id="errorClose" style="text-align:right;" class="close">&times;</span>
          <p id="errorMsg"></p>
          <div style="float:right;"> 
          	<div id="one" class="button" style="padding:0.5em 0.7em 0.5em 0.7em;display:inline-block;"></div>
          	<div id="two" class="button" style="padding:0.5em 0.7em 0.5em 0.7em;display:inline-block;"></div>
          </div>
      </div>
  </div>
</div>
