 


<div> 
	<div id="errorModal" class="modal">
		 <!-- Modal content -->
        <div class="modal-content-error" style="height:20%;font-size:0.80em;">
          <span id="errorClose" style="text-align:right;" class="close">&times;</span>
          <span id="errorMsg"></span><br><br>
          <span style="float:right;"> 
          	<span id="one" class="button" style="padding:0.15em 0.5em 0.15em 0.5em;margin:0em; display:inline-block;"></span>
          	<span id="two" class="button" style="padding:0.15em 0.5em 0.15em 0.5em;margin:0em;display:inline-block;"></span>
          </span>
      </div>
  </div>
</div>
