
</head>
<link rel="stylesheet" href="static/pacApp/assets//css/table.css" />
<link rel="stylesheet" href="static/pacApp/assets/css/main.css" />

<body>

<div class="container-table100">
	<div class="wrap-table100">
		<div class="table100 ver1 m-b-110">
			<table data-vertable="ver1">
						<thead>
							<tr class="row100 head">
								<th class="column100 column1" data-column="column1"></th>
								<th class="column100 column6" data-column="column3">3</th>
								<th class="column100 column5" data-column="column4">4</th>
								<th class="column100 column6" data-column="column5">5</th>
								<th class="column100 column7" data-column="column6">6</th>
								<th class="column100 column8" data-column="column7">7</th>
								<th class="column100 column2" data-column="column8">8</th>
								<th class="column100 column3" data-column="column9">9</th>
								<th class="column100 column4" data-column="column10">10</th>
								<th class="column100 column5" data-column="column11">11</th>
								<th class="column100 column6" data-column="column12">12</th>
								<th class="column100 column7" data-column="column13">1</th>
								<th class="column100 column8" data-column="column14">2</th>
							</tr>
						</thead>
						<tbody>
							<tr class="row100">
								<td class="column100 column1" data-column="column1">Wilcox</td>
								<td></td>
								<td class="column100 column3" data-column="column3">--</td>
								<td class="column100 column4" data-column="column4">--</td>
								<td >8:00 AM</td>
								<td class="column100 column6" data-column="column6">--</td>
								<td class="column100 column7" data-column="column7">5:00 PM</td>
								<td class="column100 column9" data-column="column9">8:00 AM</td>
								<td class="column100 column6" data-column="column6">--</td>
								<td class="column100 column7" data-column="column7">5:00 PM</td>
								<td class="column100 column9" data-column="column9">8:00 AM</td>
								<td class="column100 column7" data-column="column7">5:00 PM</td>
								<td class="column100 column9" data-column="column9">8:00 AM</td>

							</tr>

							<tr class="row100">
								<td class="column100 column1" data-column="column1">Bloomberg</td>
								<td class="column100 column2" data-column="column2">--</td>
								<td class="column100 column3" data-column="column3">5:00 PM</td>
								<td class="column100 column4" data-column="column4">5:00 PM</td>
								<td class="column100 column5" data-column="column5">--</td>
								<td class="column100 column6" data-column="column6">9:00 AM</td>
								<td class="column100 column7" data-column="column7">--</td>
								<td class="column100 column8" data-column="column8">--</td>
							</tr>

							<tr class="row100">
								<td class="column100 column1" data-column="column1">Roberts</td>
								<td class="column100 column2" data-column="column2">9:00 AM</td>
								<td class="column100 column3" data-column="column3">--</td>
								<td class="column100 column4" data-column="column4">--</td>
								<td class="column100 column5" data-column="column5">--</td>
								<td class="column100 column6" data-column="column6">--</td>
								<td class="column100 column7" data-column="column7">2:00 PM</td>
								<td class="column100 column8" data-column="column8">8:00 AM</td>
							</tr>

							<tr class="row100">
								<td class="column100 column1" data-column="column1">Murphy</td>
								<td class="column100 column2" data-column="column2">--</td>
								<td class="column100 column3" data-column="column3">5:00 PM</td>
								<td class="column100 column4" data-column="column4">5:00 PM</td>
								<td class="column100 column5" data-column="column5">--</td>
								<td class="column100 column6" data-column="column6">9:00 AM</td>
								<td class="column100 column7" data-column="column7">--</td>
								<td class="column100 column8" data-column="column8">--</td>
							</tr>

							<tr class="row100">
								<td class="column100 column1" data-column="column1">New South</td>
								<td class="column100 column2" data-column="column2">8:00 AM</td>
								<td class="column100 column3" data-column="column3">--</td>
								<td class="column100 column4" data-column="column4">--</td>
								<td class="column100 column5" data-column="column5">8:00 AM</td>
								<td class="column100 column6" data-column="column6">--</td>
								<td class="column100 column7" data-column="column7">5:00 PM</td>
								<td class="column100 column8" data-column="column8">8:00 AM</td>
							</tr>

							<tr class="row100">
								<td class="column100 column1" data-column="column1">Dillon Dance</td>
								<td class="column100 column2" data-column="column2">--</td>
								<td class="column100 column3" data-column="column3">5:00 PM</td>
								<td class="column100 column4" data-column="column4">5:00 PM</td>
								<td class="column100 column5" data-column="column5">--</td>
								<td class="column100 column6" data-column="column6">9:00 AM</td>
								<td class="column100 column7" data-column="column7">--</td>
								<td class="column100 column8" data-column="column8">--</td>
							</tr>

							<tr class="row100">
								<td class="column100 column1" data-column="column1">Dillion MPR</td>
								<td class="column100 column2" data-column="column2">9:00 AM</td>
								<td class="column100 column3" data-column="column3">--</td>
								<td class="column100 column4" data-column="column4">--</td>
								<td class="column100 column5" data-column="column5">--</td>
								<td class="column100 column6" data-column="column6">--</td>
								<td class="column100 column7" data-column="column7">2:00 PM</td>
								<td class="column100 column8" data-column="column9">8:00 AM</td>
							</tr>

							<tr class="row100">
								<td class="column100 column1" data-column="column1">Whitman</td>
								<td class="column100 column2" data-column="column2">8:00 AM</td>
								<td class="column100 column3" data-column="column3">--</td>
								<td class="column100 column4" data-column="column4">--</td>
								<td class="column100 column5" data-column="column5">8:00 AM</td>
								<td class="column100 column6" data-column="column6">--</td>
								<td class="column100 column7" data-column="column7">5:00 PM</td>
								<td class="column100 column13" data-column="column13">8:00 AM</td>
							</tr>
						<tr class="row100">
								<td class="column100 column1" data-column="column1">Lewis Arts 202</td>
								<td class="column100 column2" data-column="column2">8:00 AM</td>
								<td class="column100 column3" data-column="column3">--</td>
								<td class="column100 column4" data-column="column4">--</td>
								<td class="column100 column5" data-column="column5">8:00 AM</td>
								<td class="column100 column6" data-column="column6">--</td>
								<td class="column100 column7" data-column="column7">5:00 PM</td>
								<td class="column100 column8" data-column="column10">8:00 AM</td>
							</tr>
						</tbody>
				</table>
			</div>
		</div>
	</div>

<form action="{% url 'insert_space_item' %}" method="POST" autocomplete="=off">
	{% csrf_token %}
	<div class="input-gtoup">
		Company_Name: <input type="text" class="form-control" name="company_name"> <br>
		Time_Start: <input type="text" class="form-control" name="time_start"><br>
		Time_End: <input type="text" class="form-control" name="time_end"><br>
		Studio: <input type="text" class="form-control" name="studio"><br>
		<div class="input-group-append text-info">
			<span class="input-grou-text bg-white py-0">
				<button type="submit" class="btn btn-sm text-info">
					<i class="fa fa-plus-circle fa-lg">
					</i>
					Post
				</button>
			</span>
		</div>
	</div>
</form>
Results of DB:
<ul class="list-group">
	{% for item in space_list %}
	<li class="list-group-item">{{item.company_name}}{{item.time_start}}{{item.time_end}}{{item.studio}}</li>
	{% endfor %}
</ul>