<!DOCTYPE html>
 <html>
   <head>
      <title>PrincetonDance.com</title>
    	 <link rel="stylesheet"  type="text/css" href="/static/pacApp/assets/css/input.css">
       <script src="/static/pacApp/assets/js/input.js"></script> 
       <script src="static/pacApp/assets/js/main.js"></script>
   	 
   </head>

   <div class="tablinks" class="button" style="background-color:#b76e79; color:white; float:right; padding:15px"><a style="text-decoration-line:none;" href="homepage">Home</a></div>
      <body class="homepage is-preload">
      {% include 'templates/pacApp/form/input.html' %}
	
	</body>
</html>