<!DOCTYPE html>
 <html>
   <head>
      <title>PAC Administrator Form</title>

      
      <link rel="stylesheet" type="text/css" href="static/pacApp/assets/css/main.css" />
      <link rel="stylesheet"  type="text/css" href="static/pacApp/assets/css/input.css">
      
      <script type="application/javascript" src="static/pacApp/assets/js/input.js"></script> 
      <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
       <!-- <script src="static/pacApp/assets/js/main.js"></script> -->
   	 
   </head>
<div class = entire_page>

  <div class="tablinks" class="button" style="background-color:#b76e79; color:white; float:right; padding:15px"><a style="text-decoration-line:none;" href="homepage">Home</a></div>
  <body>
     <div id="headerform">
        <div id="header">
              <!-- Inner -->
                <div>
                 <header>
                   <h1>PAC Administrator Form</h1>
                   <hr />
                   <p>Enter the PAC Group's information below</p>
                   <p style="font-size:18px">After all information is entered, use our scheduling algorithm to allocate the spaces.</p>
                 </header>
                </div>
                <nav id="nav">
                 <ul>
                   <li><a href="homepage">Home</a></li>
                   <li>
                     <a href="about">About</a>
                   </li>
                   <li><a href="#">Booking</a>
                    <ul>
                      <li><a href="schedule">Book Space</a></li>
                      <li><a href="#">PAC Admin</a></li>
                    </ul>
                   </li>
                 </ul>
                </nav>
           </div>
          </div>
          
     {% include 'templates/pacApp/form/input.html' %}
    </body>
  
</div>
  
</html>
<!-- might need to delete this idk-->
{% for item in all_requests %}
          {% empty %}
          <script>
            document.getElementById('delete_alg_button').style.visibility = 'hidden';
            document.getElementById('schedule_button').style.visibility = 'hidden';
          </script>
          {% endfor %}
          
<script src="static/pacApp/assets/js/jquery.min.js"></script>
			<script src="static/pacApp/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/pacApp/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/pacApp/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/pacApp/assets/js/browser.min.js"></script>
			<script src="static/pacApp/assets/js/breakpoints.min.js"></script>
			<script src="static/pacApp/assets/js/util.js"></script>
			<script src="static/pacApp/assets/js/main.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>