<!-- Tab content -->
<form method="POST">
<div id="company_day_1" class="tabcontent">
Company Day (1st choice): 
			<br>
 			<input type="radio" class="form-control" name="company_day_1" value="Sunday">
				<label for="sun">Sunday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_1" value="Monday">	
				<label for="mon">Monday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_1" value="Tuesday">
				<label for="tues">Tuesday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_1" value="Wednesday">
				<label for="wed">Wednesday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_1" value="Thursday">
				<label for="thurs">Thursday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_1" value="Friday">
				<label for="fri">Friday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_1" value="Saturday">
				<label for="sat">Saturday</label>
			<br>
			<br>
			Company Start Time: <input type="time" class="form-control" name="company_start_time_1"><br>
			Company End Time: <input type="time" class="form-control" name="company_end_time_1"><br>
			Desired Company Studio:<br>
			<input type="radio"  name="company_studio_1" value="bloomberg">
				<label for="bloomberg">Bloomberg</label>
			<br>
			<input type="radio"  name="company_studio_1" value="dillonmar">
				<label for="mar">Dillon MAR</label>
			<br>
			<input type="radio"  name="company_studio_1" value="dillonmpr">
				<label for="mpr">Dillon MPR</label>
			<br>
			<input type="radio"  name="company_studio_1" value="dillondance">
				<label for="ddance">Dillon Dance</label>
			<br>
			<input type="radio" name="company_studio_1" value="murphy">
				<label for="mur">Murphy</label>
			<br>
			<input type="radio" name="company_studio_1" value="ns">
				<label for="ns_main">NS Main</label>
			<br>
			<input type="radio" name="company_studio_1" value="nswarmup">
				<label for="ns_warmup">NS Warmup</label>
			<br>
			<input type="radio" name="company_studio_1" value="nstheatre">
				<label for="ns_theatre">NS Theatre</label>
			<br>
			<input type="radio"  name="company_studio_1" value="whitman">
				<label for="whitman">Whitman</label>
			<br>
			<input type="radio" name="company_studio_1" value="wilcox">	
				<label for="wil">Wilcox</label>
			<br>
</div>
</form>

<div id="company_day_2" class="tabcontent">
Company Day (2nd choice):
			<br>
 			<input type="radio" class="form-control" name="company_day_2" value="0">
				<label for="sun">Sunday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_2" value="1">	
				<label for="mon">Monday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_2" value="2">
				<label for="tues">Tuesday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_2" value="3">
				<label for="wed">Wednesday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_2" value="4">
				<label for="thurs">Thursday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_2" value="5">
				<label for="fri">Friday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_2" value="6">
				<label for="sat">Saturday</label>
			<br>
			<br>
			Company Start Time: <input type="time" class="form-control" name="company_start_time_2"><br>
			Company End Time: <input type="time" class="form-control" name="company_end_time_2"><br>
			Desired Company Studio:<br>
			<input type="radio"  name="company_studio_2" value="bloomberg">
				<label for="bloomberg">Bloomberg</label>
			<br>
			<input type="radio"  name="company_studio_2" value="dillondance">
				<label for="d_dance">Dillon Dance</label>
			<br>
			<input type="radio"  name="company_studio_2" value="dillonmar">
				<label for="mar">Dillon MAR</label>
			<br>
			<input type="radio"  name="company_studio_2" value="dillonmpr">
				<label for="mpr">Dillon MPR</label>
			<br>		
			<input type="radio" name="company_studio_2" value="murphy">
				<label for="mur">Murphy</label>
			<br>
			<input type="radio" name="company_studio_2" value="ns">
				<label for="ns">NS Main</label>
			<br>
			<input type="radio" name="company_studio_2" value="nswarmup">
				<label for="ns_warmup">NS Warmup</label>
			<br>
			<input type="radio" name="company_studio_2" value="nstheatre">
				<label for="ns_theatre">NS Theatre</label>
			<br>
			<input type="radio"  name="company_studio_2" value="whitman">
				<label for="whitman">Whitman</label>
			<br>
			<input type="radio" name="company_studio_2" value="wilcox">	
				<label for="wil">Wilcox</label>
			<br>
</div>

<div id="company_day_3" class="tabcontent">
Company Day (3rd choice):
  			<br>
  			<input type="radio" class="form-control" name="company_day_3" value="sun">
				<label for="sun">Sunday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_3" value="mon">	
				<label for="mon">Monday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_3" value="tues">
				<label for="tues">Tuesday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_3" value="wed">
				<label for="wed">Wednesday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_3" value="thurs">
				<label for="thurs">Thursday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_3" value="fri">
				<label for="fri">Friday</label>
			<br>
			<input type="radio" class="form-control" name="company_day_3" value="sat">
				<label for="sat">Saturday</label>
			<br>
			<br>
			Company Start Time: <input type="time" class="form-control" name="company_start_time_3"><br>
			Company End Time: <input type="time" class="form-control" name="company_end_time_3"><br>
			Desired Company Studio:<br>
			<input type="radio"  name="company_studio_3" value="bloomberg">
				<label for="bloomberg">Bloomberg</label>
			<br>
			<input type="radio"  name="company_studio_3" value="dillondance">
				<label for="d_dance">Dillon Dance</label>
			<br>
			<input type="radio"  name="company_studio_3" value="dillonmar">
				<label for="mar">Dillon MAR</label>
			<br>
			<input type="radio"  name="company_studio_3" value="dillonmpr">
				<label for="mpr">Dillon MPR</label>
			<br>
			<input type="radio" name="company_studio_3" value="murphy">
				<label for="mur">Murphy</label>
			<br>
			<input type="radio" name="company_studio_3" value="ns">
				<label for="ns">NS Main</label>
			<br>
			<input type="radio" name="company_studio_" value="nstheatre">
				<label for="ns_theatre">NS Theatre</label>
			<br>
			<input type="radio" name="company_studio_3" value="nswarmup">
				<label for="ns_warmup">NS Warmup</label>
			<br>
			<input type="radio"  name="company_studio_3" value="whitman">
				<label for="whitman">Whitman</label>
			<br>
			<input type="radio" name="company_studio_3" value="wilcox">	
				<label for="wil">Wilcox</label>
			<br>
</div>