<!DOCTYPE html>
<form class="myform" method="POST" action="{% url 'insert_ad_request' %}" 
	autocomplete="=off" onsubmit="return validateResponse()">
	{% csrf_token %}
	<!-- STEP 1 -->
<div style="padding:20px" class="input-group">
	<h3>
		Step 1: Input the PAC Group's Requests
	</h3>
	<br>
	

	<label>
		<strong> Company Name: </strong> 
	</label>
	<!--	
		<input type="text" class="form-control" id="companyInput" placeholder="Enter Company Name" name="company_name"> 
	-->

	<select id="myList" name="company_name" style="--webkit-appearance: default;">
		<option value = "Select Company Name">Select Company Name</option>
		<option value = "1">BAC</option>
		<option value = "2">Bhangra</option>
		<option value = "3">BodyHype</option>
		<option value = "4">Disiac</option>
		<option value = "5">eXpressions</option>
		<option value = "6">HighSteppers</option>
		<option value = "7">Kokopops</option>
		<option value = "8">Naacho</option>
		<option value = "9">PUB</option>
		<option value = "10">Six14</option>
		<option value = "11">Sympoh</option>
		<option value = "12">Triple8</option>

	</select>
<br>

<!-- Tab links -->
<strong> Company Day: </strong> Input top three preferences for company rehearsals. Begin by clicking on Preference 1 to fill in the information. Then click on Preference 2 and Preference 3 to insert more information.

<div class="tab" style="display: flex; height: 60px;">
<table style="width:100%" >
	<tr>
	  <td><div class="tablinks" onclick="openTab(event, 'company_day_1')">Preference 1</div></td>
	  <td><div class="tablinks" onclick="openTab(event, 'company_day_2')">Preference 2</div></td>
	  <td><div class="tablinks" onclick="openTab(event, 'company_day_3')">Preference 3</div></td>
	 </tr>
</table>
</div>

{% include 'templates/pacApp/form/companydays.html' %}

<br>

<table style="width:100%">
	<tr>
	  <td><strong>Number of Rehearsals Needed Per Week:  </strong><input type="number" min=1 max=40 class="form-control" name="num_reho"><br>	  </td>
	  <td><strong>Number of Members:</strong>  <input type="number" min=1 class="form-control" name="num_members"><br>	  </td>
	 </tr>
</table>


<label><strong>Studio Rankings: </strong>
	<br>
	Rank the following studios based on your preference with 1 being the highest preference and 10 being the lowest preference. 
	Please ensure that each rank is unique (no ties).</label>
<br>

<!--
<div class="tab">
  <div class="tablinks" onclick="openTab(event, 'rank1')">Studio Rank 1</div>
  <div class="tablinks" onclick="openTab(event, 'rank2')">Studio Rank 2</div>
  <div class="tablinks" onclick="openTab(event, 'rank3')">Studio Rank 3</div>
  <div class="tablinks" onclick="openTab(event, 'rank4')">Studio Rank 4</div>
  <div class="tablinks" onclick="openTab(event, 'rank5')">Studio Rank 5</div>
</div>
-->
{% include 'templates/pacApp/form/rankstudiotabs.html' %}


			<div class="input-group-append text-info"; style="text-align: center; display: flex; align-items: left; justify-content: center;">
				<span class="input-grou-text bg-white py-0">
					<button type="submit" id="submit_button" class="btn btn-sm text-info" style="font-size: x-large;">
						Submit
					</button>
				</span>
			</div>
			
</div>
</form>

<hr>

<!-- STEP 2 -->
<div style="padding:20px" class="alg-group">
	<h3>
		Step 2: Ensure data is correct and specify the period you would like this space allocation to occur. 
	</h3>
	<br>
	<h4>
		<span style="font-weight:normal">
			Once you have submitted the form for all PAC groups, you should see their results in the table below. 
			If you mis-entered a group's information, 
			please click the delete button and resubmit the group's information.
			
		</span>
		
	</h4>		
	
	<!-- Table to display the values in the ad request db	-->
	{% include 'templates/pacApp/form/ad_table.html' %} 

	<hr>
</div>	
	<div style="padding:20px" class="alg-group">
		<h3>
			Step 3: Schedule all groups by clicking the button below. 
			

		</h3>	
		<br>
		<h4>
			After the PAC Group's Information are submitted, click "Schedule All Groups" to schedule all groups. 
			A link to the schedule will open up to view the results.
			<br>
			<br>
		
			If you would like to remove the spaces allocated by the scheduling algorithm or edit the constraints, 
			please enter the dates for which you would like to delete the space allocations and then click the 'Delete' button. 
			<br>

		</h4>
		{% if result == 'None' %} 
					<h3> Currently, rehearsal spaces have not been scheduled because there are no inputted requests. </h3>
				{% endif %}
		<br>
				{% csrf_token %}

				<h4>
					Enter the dates for which you would like this space allocation to occur.
				</h4>
				<strong>Start Date:  </strong>
				<input type="date" max="2999-12-31" autocomplete="on" name="start_date" value='0001-01-01'>
				<strong>End Date:  </strong>
				<input type="date" max="2999-12-31" autocomplete="on" name = "end_date" value='0001-01-01'>
				<br>
				<br>
				<!-- {% for item in all_requests %}
				<input type="hidden" id="all_ad_results" name="ad_results" value={{item.company_name}}>
				{% endfor %}
-->
				

			{% if {{has_report}} == True %}
			<h5>{{report}}</h5>
			{% endif %}
			<br>

			<table>
				<tr>
				  <th>
					<div class="input-group-append text-info">
						<span class="input-grou-text bg-white py-0">
							<button type="submit" id='schedule_button' class='schedule_button' onclick="wasClicked_Alg(event, 'schedule');"
							style="background-color:#b76e79; color:white; padding:30px;font-size: large;">
								<a style="text-decoration-line:none;"> Schedule All Groups </a>
							</button>
		
						</span>
						
					</div>
					
				  </th>
				  <th>

					<form action="{% url 'delete_schedule_alg' %}" autocomplete="=off" onsubmit="wasClicked_Alg(event, 'delete');">
						<div class="input-group-append text-info">
							
							<span class="input-grou-text bg-white py-0">	
						<button type="submit" class='schedule_button' id='delete_alg_button' style="background-color:#b76e79; color:white; padding:30px;font-size: large;">
							<a style="text-decoration-line:none;"> Delete All Scheduled Slots </a>
						</button>
							</span>
						</div>
		
		
					</form>
				  </th>
				</tr>
			</table>	
			


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
	$(delete_button).attr('onmouseover', '');
	$(delete_button).attr('data-toggle',"tooltip");
	$(delete_button).attr('data-placement', "top"); 
	$(delete_button).data('delay', 0);
	$(delete_button).attr('title', "Click to delete the scheduling algorithm results for the dates specified");

	$(submit_button).attr('onmouseover', '');
	$(submit_button).attr('data-toggle',"tooltip");
	$(submit_button).attr('data-placement', "top"); 
	$(submit_button).data('delay', 0);
	$(submit_button).attr('title', "Click to submit this form");

	$(delete_alg_button).attr('onmouseover', '');
	$(delete_alg_button).attr('data-toggle',"tooltip");
	$(delete_alg_button).attr('data-placement', "top"); 
	$(delete_alg_button).data('delay', 0);
	$(delete_alg_button).attr('title', "Click to delete the scheduling algorithm's results");

	$(schedule_button).attr('onmouseover', '');
	$(schedule_button).attr('data-toggle',"tooltip");
	$(schedule_button).attr('data-placement', "top"); 
	$(schedule_button).data('delay', 0);
	$(schedule_button).attr('title', "Click to apply to the scheduling algorithm to schedule all groups in the dates specified");
	
         
         
</script>

