<!DOCTYPE html>
<form class="myform" method="POST" onload="document.getElementById('companyInput').focus()" action="{% url 'insert_ad_request' %}" 
	autocomplete="=off" onsubmit="return validateResponse()">
	{% csrf_token %}
	<!-- STEP 1 -->
<div style="padding:20px" class="input-group">
	<h3>
		Step 1: Input the PAC Group's Requests
	</h3>
	<br>
	

	<label>
		<strong> Company Name: </strong> 
	</label>
	<input type="text" class="form-control" id="companyInput" placeholder="Enter Company Name" name="company_name"> 
<br>

<!-- Tab links -->
<strong> Company Day: </strong> Input top three preferences for company rehearsals. Begin by clicking on Preference 1 to fill in the information. Then click on Preference 2 and Preference 3 to insert more information.

<div class="tab" style="display: flex; height: 60px;">
<table style="width:100%" >
	<tr>
	  <td><div class="tablinks" onclick="openTab(event, 'company_day_1')">Preference 1</div></td>
	  <td><div class="tablinks" onclick="openTab(event, 'company_day_2')">Preference 2</div></td>
	  <td><div class="tablinks" onclick="openTab(event, 'company_day_3')">Preference 3</div></td>
	 </tr>
</table>
</div>

{% include 'templates/pacApp/form/companydays.html' %}

<br>

<table style="width:100%">
	<tr>
	  <td><strong>Number of Rehearsals Needed Per Week:  </strong><input type="number" min=1 max=40 class="form-control" name="num_reho"><br>	  </td>
	  <td><strong>Number of Members:</strong>  <input type="number" min=1 class="form-control" name="num_members"><br>	  </td>
	 </tr>
</table>


<label><strong>Studio Rankings: </strong>
	<br>
	Rank the following studios based on your preference with 1 being the highest preference and 10 being the lowest preference. 
	Please ensure that each rank is unique (no ties).</label>
<br>

<!--
<div class="tab">
  <div class="tablinks" onclick="openTab(event, 'rank1')">Studio Rank 1</div>
  <div class="tablinks" onclick="openTab(event, 'rank2')">Studio Rank 2</div>
  <div class="tablinks" onclick="openTab(event, 'rank3')">Studio Rank 3</div>
  <div class="tablinks" onclick="openTab(event, 'rank4')">Studio Rank 4</div>
  <div class="tablinks" onclick="openTab(event, 'rank5')">Studio Rank 5</div>
</div>
{% include 'templates/pacApp/form/rankstudiotabs.html' %}
-->

<table style="width:100%">
	<tr>
	  <td>Bloomberg: <input type="number" min=1 max=10 class="form-control" name="bloomberg_rank"><br></td>
	  <td>Dillon Dance: <input type="number" min=1 max=10 class="form-control" name="dillon_dance_rank"><br></td>
	  <td>Dillon MAR: <input type="number" min=1 max=10 class="form-control" name="dillon_mar_rank"><br></td>
	  <td>Dillon MPR: <input type="number" min=1 max=10 class="form-control" name="dillon_mpr_rank"><br>	  </td>
	  <td>Murphy: <input type="number" min=1 max=10 class="form-control" name="murphy_rank"><br></td>
	</tr>
	<tr>
		<td>	New South: <input type="number" min=1 max=10 class="form-control" name="ns_rank"><br>		</td>
		<td>	NS Warmup: <input type="number" min=1 max=10 class="form-control" name="ns_warmup_rank"><br>		</td>
		<td>	NS Theatre: <input type="number" min=1 max=10  class="form-control" name="ns_theatre_rank"><br></td>
		<td>	Whitman: <input type="number" min=1 max=10  class="form-control" name="whitman_rank"><br>		</td>
		<td>	Wilcox: <input type="number" min=1 max=10 class="form-control" name="wilcox_rank"><br>		</td>
	  </tr>
  </table>

			<div class="input-group-append text-info"; style="text-align: center; display: flex; align-items: left; justify-content: center;">
				<span class="input-grou-text bg-white py-0">
					<button type="submit" id="submit_button" class="btn btn-sm text-info" style="font-size: x-large;">
						Submit
					</button>
				</span>
			</div>
			
</div>
</form>

<hr>

<!-- STEP 2 -->
<div style="padding:20px" class="alg-group">
	<h3>
		Step 2: Ensure data is correct and specify the period you would like this space allocation to occur. 
	</h3>
	<br>
	<h4>
		<span style="font-weight:normal">
			Once you have submitted the form for all PAC groups, you should see their results in the table below. 
			If you mis-entered a group's information, please click the delete button and resubmit the group's information. 
		</span>
		
	</h4>		
	
	<!-- Table to display the values in the ad request db	-->
	{% include 'templates/pacApp/form/ad_table.html' %} 

	<hr>
</div>	
	<div style="padding:20px" class="alg-group">
		<h3>
			Step 3: Schedule all groups by clicking the button below. 
			

		</h3>	
		<br>
		<h4>
			Navigate to the booking page to make any edits to the results if necessary. 
			If you would like to delete the schedule this algorithm produced, 
			please click the delete button below. 
		</h4>
		<br>
			<form action="{% url 'scheduling_alg' %}" method="POST" autocomplete="=off" onsubmit="wasClicked_Alg(event, 'schedule');">
				{% csrf_token %}

				<h4>
					Enter the dates for which you would like this space allocation to occur.
				</h4>
				<strong>Start Date:  </strong>
				<input type="date" max="2999-12-31" autocomplete="on" name="start_date">
				<strong>End Date:  </strong>
				<input type="date" max="2999-12-31" autocomplete="on" name = "end_date">
				<br>
				<br>
				<!-- {% for item in all_requests %}
				<input type="hidden" id="all_ad_results" name="ad_results" value={{item.company_name}}>
				{% endfor %}
-->
				{% if result == 'None' %} 
				<script>
					alert('Rehearsal spaces have not been scheduled because there are no inputted requests.')''
				</script>
				{% endif %}

			<div class="input-group-append text-info">
				<span class="input-grou-text bg-white py-0">
					<button type="submit" id='schedule_button' class='schedule_button'
					style="background-color:#b76e79; color:white; padding:30px;font-size: large;">
						<a style="text-decoration-line:none;"> Schedule All Groups </a>
					</button>

				</span>
				
			</div>
			</form>

			<br>
			<form action="{% url 'delete_schedule_alg' %}" autocomplete="=off" onsubmit="wasClicked_Alg(event, 'delete');">
				<button type="submit" class='btn' id='delete_button' style="background-color:#b76e79; color:white; padding:30px;font-size: large;">
					Delete All Scheduled Slots
				</button>

			</form>
			


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
	$(delete_button).attr('onmouseover', '');
	$(delete_button).attr('data-toggle',"tooltip");
	$(delete_button).attr('data-placement', "top"); 
	$(delete_button).data('delay', 0);
	$(delete_button).attr('title', "Click to delete the scheduling algorithm results for the dates specified");

	$(submit_button).attr('onmouseover', '');
	$(submit_button).attr('data-toggle',"tooltip");
	$(submit_button).attr('data-placement', "top"); 
	$(submit_button).data('delay', 0);
	$(submit_button).attr('title', "Click to submit this form");

	$(submit_button).attr('onmouseover', '');
	$(submit_button).attr('data-toggle',"tooltip");
	$(submit_button).attr('data-placement', "top"); 
	$(submit_button).data('delay', 0);
	$(submit_button).attr('title', "Click to submit this form");

	$(schedule_button).attr('onmouseover', '');
	$(schedule_button).attr('data-toggle',"tooltip");
	$(schedule_button).attr('data-placement', "top"); 
	$(schedule_button).data('delay', 0);
	$(schedule_button).attr('title', "Click to apply to the scheduling algorithm to schedule all groups in the dates specified");
	
         
         
</script>

