
<form class="myform" method="POST" action="{% url 'insert_ad_request' %}" autocomplete="=off">
	{% csrf_token %}
<div style="padding:0px" class="input-group">
Company Name: <input type="text" class="form-control" id="companyInput" placeholder="Enter Company Name" name="company_name"> <hr>

<!-- Tab links -->
Company Day: Input top three choices for company
<div class="tab">
  <div class="tablinks" onclick="openTab(event, 'company_day_1')">Choice 1</div>

  <div class="tablinks" onclick="openTab(event, 'company_day_2')">Choice 2</div>

  <div class="tablinks" onclick="openTab(event, 'company_day_3')">Choice 3</div>
</div>

{% include 'templates/pacApp/form/companydays.html' %}

<br>

Number of Rehearsals Needed: <input type="number" min=0 class="form-control" name="num_reho"><br>
Number of Members: <input type="number" min=0 class="form-control" name="num_members"><br>

Studio Rankings: Input top five choices for studios
<div class="tab">
  <div class="tablinks" onclick="openTab(event, 'rank1')">Studio Rank 1</div>
  <div class="tablinks" onclick="openTab(event, 'rank2')">Studio Rank 2</div>
  <div class="tablinks" onclick="openTab(event, 'rank3')">Studio Rank 3</div>
  <div class="tablinks" onclick="openTab(event, 'rank4')">Studio Rank 4</div>
  <div class="tablinks" onclick="openTab(event, 'rank5')">Studio Rank 5</div>
</div>

{% include 'templates/pacApp/form/rankstudiotabs.html' %}

			<div class="input-group-append text-info">
				<span class="input-grou-text bg-white py-0">
					<button type="submit" id="submit_button" class="btn btn-sm text-info">
						Submit
					</button>
				</span>
			</div>
			
</div>
</form>


Results of DB:
	<ul class="list-group">
		{% for item in all_requests %}
		<li class="list-group-item">{{item.name}}{{item.company_day_1}}{{item.company_start_time_1}}{{item.company_end_time_1}}</li>
		{% endfor %}
	</ul>
<br>
<br>
<br>

<form action="{% url 'scheduling_alg' %}" method="POST" autocomplete="=off">
	{% csrf_token %}
<div class="input-group-append text-info">
	<span class="input-grou-text bg-white py-0">
		<button type="submit" style="height: 100px; width: 250px" class="btn btn-sm text-info">
			Schedule All Groups
		</button>
	</span>
</div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
	function getResponse(event) 
	{
		console.log("This form did not submit");
		alert('This form did not submit');
		event.preventDefault();
	}
	function setup()
	{
		$('#submit-button').click(getResponse(event));
	}
	$(document).ready(setup);
</script>


