<form method = "POST">
<div class="tabcontent" id="rank1">
	Rank 1st choice studio: 
	<br>
  	<input type="radio" class="form-control" name="rankone" value="bloomberg">
		<label for="bloomberg">Bloomberg</label>
	<input type="radio" class="form-control" name="rankone" value="ellie">	
		<label for="ellie">Ellie</label>
	<input type="radio" class="form-control" name="rankone" value="murphy">
		<label for="murphy">Murphy</label>
	<input type="radio" class="form-control" name="rankone" value="ns">
		<label for="ns">New South</label>
	<input type="radio" class="form-control" name="rankone" value="roberts">
		<label for="roberts">Roberts</label>
	<input type="radio" class="form-control" name="rankone" value="whitman">
		<label for="whitman">Whitman</label>
	<input type="radio" class="form-control" name="rankone" value="wilcox">
		<label for="wilcox">Wilcox</label>
</div>
</form>


<div class="tabcontent" id="rank2">
	Rank 2nd choice studio:
	<br>
  	<input type="radio" class="form-control" name="rank2s" value="bloomberg">
		<label for="bloomberg">Bloomberg</label>
	<input type="radio" class="form-control" name="rank2s" value="ellie">	
		<label for="ellie">Ellie</label>
	<input type="radio" class="form-control" name="rank2s" value="murphy">
		<label for="murphy">Murphy</label>
	<input type="radio" class="form-control" name="rank2s" value="ns">
		<label for="ns">New South</label>
	<input type="radio" class="form-control" name="rank2s" value="roberts">
		<label for="roberts">Roberts</label>
	<input type="radio" class="form-control" name="rank2s" value="whitman">
		<label for="whitman">Whitman</label>
	<input type="radio" class="form-control" name="rank2s" value="wilcox">
		<label for="wilcox">Wilcox</label>
</div>



<div class="tabcontent" id="rank3">
	Rank 3rd choice studio:
	<br>
  	<input type="radio" class="form-control" name="rank3s" value="bloomberg3">
		<label for="bloomberg">Bloomberg</label>
	<input type="radio" class="form-control" name="rank3s" value="ellie3">	
		<label for="ellie">Ellie</label>
	<input type="radio" class="form-control" name="rank3s" value="murphy3">
		<label for="murphy">Murphy</label>
	<input type="radio" class="form-control" name="rank3s" value="ns3">
		<label for="ns">New South</label>
	<input type="radio" class="form-control" name="rank3s" value="roberts3">
		<label for="roberts">Roberts</label>
	<input type="radio" class="form-control" name="rank3s" value="whitman3">
		<label for="whitman">Whitman</label>
	<input type="radio" class="form-control" name="rank3s" value="wilcox3">
		<label for="wilcox">Wilcox</label>
</div>


<div class="tabcontent" id="rank4">
	Rank 4th choice studio:
	<br>
  	<input type="radio" class="form-control" name="rank4s" value="bloomberg">
		<label for="bloomberg">Bloomberg</label>
	<input type="radio" class="form-control" name="rank4s" value="ellie">	
		<label for="ellie">Ellie</label>
	<input type="radio" class="form-control" name="rank4s" value="murphy">
		<label for="murphy">Murphy</label>
	<input type="radio" class="form-control" name="rank4s" value="ns">
		<label for="ns">New South</label>
	<input type="radio" class="form-control" name="rank4s" value="roberts">
		<label for="roberts">Roberts</label>
	<input type="radio" class="form-control" name="rank4s" value="whitman">
		<label for="whitman">Whitman</label>
	<input type="radio" class="form-control" name="rank4s" value="wilcox">
		<label for="wilcox">Wilcox</label>
</div>


<div class="tabcontent" id="rank5">
	Rank 5th choice studio:
	<br>
  	<input type="radio" class="form-control" name="rank5s" value="bloomberg">
		<label for="bloomberg">Bloomberg</label>
	<input type="radio" class="form-control" name="rank5s" value="ellie">	
		<label for="ellie">Ellie</label>
	<input type="radio" class="form-control" name="rank5s" value="murphy">
		<label for="murphy">Murphy</label>
	<input type="radio" class="form-control" name="rank5s" value="ns">
		<label for="ns">New South</label>
	<input type="radio" class="form-control" name="rank5s" value="roberts">
		<label for="roberts">Roberts</label>
	<input type="radio" class="form-control" name="rank5s" value="whitman">
		<label for="whitman">Whitman</label>
	<input type="radio" class="form-control" name="rank5s" value="wilcox">
		<label for="wilcox">Wilcox</label>
</div>