<table style="width:100%">
	<tr>
	  <td>Rank 1: 
		<select id="rank_1" name="rank_1" style="--webkit-appearance: default;">
			<option value = "Select Company Name">Select Studio</option>
			<option value = "0">Bloomberg</option>
			<option value = "1">Dillon Dance</option>
			<option value = "2">Dillon MAR</option>
			<option value = "3">Dillon MPR</option>
			<option value = "4">Murphy</option>
			<option value = "5">New South Main</option>
			<option value = "6">NS Warmup</option>
			<option value = "7">NS Theatre</option>
			<option value = "8">Whitman</option>
			<option value = "9">Wilcox</option>
		</select>
		<br>
	</td>
	<td>Rank 2: 
		<select id="rank_2" name="rank_2" style="--webkit-appearance: default;">
			<option value = "Select Company Name">Select Studio</option>
			<option value = "0">Bloomberg</option>
			<option value = "1">Dillon Dance</option>
			<option value = "2">Dillon MAR</option>
			<option value = "3">Dillon MPR</option>
			<option value = "4">Murphy</option>
			<option value = "5">New South Main</option>
			<option value = "6">NS Warmup</option>
			<option value = "7">NS Theatre</option>
			<option value = "8">Whitman</option>
			<option value = "9">Wilcox</option>
		</select>
		<br>
	</td>	  
	<td>Rank 3: 
		<select id="rank_3" name="rank_3" style="--webkit-appearance: default;">
			<option value = "Select Company Name">Select Studio</option>
			<option value = "0">Bloomberg</option>
			<option value = "1">Dillon Dance</option>
			<option value = "2">Dillon MAR</option>
			<option value = "3">Dillon MPR</option>
			<option value = "4">Murphy</option>
			<option value = "5">New South Main</option>
			<option value = "6">NS Warmup</option>
			<option value = "7">NS Theatre</option>
			<option value = "8">Whitman</option>
			<option value = "9">Wilcox</option>
		</select>
		<br>
	</td>
	<td>Rank 4: 
		<select id="rank_4" name="rank_4" style="--webkit-appearance: default;">
			<option value = "Select Company Name">Select Studio</option>
			<option value = "0">Bloomberg</option>
			<option value = "1">Dillon Dance</option>
			<option value = "2">Dillon MAR</option>
			<option value = "3">Dillon MPR</option>
			<option value = "4">Murphy</option>
			<option value = "5">New South Main</option>
			<option value = "6">NS Warmup</option>
			<option value = "7">NS Theatre</option>
			<option value = "8">Whitman</option>
			<option value = "9">Wilcox</option>
		</select>
		<br>
	</td>
	<td>Rank 5: 
		<select id="rank_5" name="rank_5" style="--webkit-appearance: default;">
			<option value = "Select Company Name">Select Studio</option>
			<option value = "0">Bloomberg</option>
			<option value = "1">Dillon Dance</option>
			<option value = "2">Dillon MAR</option>
			<option value = "3">Dillon MPR</option>
			<option value = "4">Murphy</option>
			<option value = "5">New South Main</option>
			<option value = "6">NS Warmup</option>
			<option value = "7">NS Theatre</option>
			<option value = "8">Whitman</option>
			<option value = "9">Wilcox</option>
		</select>
		<br>
	</td>
	</tr>
	<tr>
		<td>Rank 6: 
			<select id="rank_6" name="rank_6" style="--webkit-appearance: default;">
				<option value = "Select Company Name">Select Studio</option>
				<option value = "0">Bloomberg</option>
				<option value = "1">Dillon Dance</option>
				<option value = "2">Dillon MAR</option>
				<option value = "3">Dillon MPR</option>
				<option value = "4">Murphy</option>
				<option value = "5">New South Main</option>
				<option value = "6">NS Warmup</option>
				<option value = "7">NS Theatre</option>
				<option value = "8">Whitman</option>
				<option value = "9">Wilcox</option>
			</select>
			<br>
		</td>
		<td>Rank 7: 
			<select id="rank_7" name="rank_7" style="--webkit-appearance: default;">
				<option value = "Select Company Name">Select Studio</option>
				<option value = "0">Bloomberg</option>
				<option value = "1">Dillon Dance</option>
				<option value = "2">Dillon MAR</option>
				<option value = "3">Dillon MPR</option>
				<option value = "4">Murphy</option>
				<option value = "5">New South Main</option>
				<option value = "6">NS Warmup</option>
				<option value = "7">NS Theatre</option>
				<option value = "8">Whitman</option>
				<option value = "9">Wilcox</option>
			</select>
			<br>
		</td>
		<td>Rank 8: 
			<select id="rank_8" name="rank_8" style="--webkit-appearance: default;">
				<option value = "Select Company Name">Select Studio</option>
				<option value = "0">Bloomberg</option>
				<option value = "1">Dillon Dance</option>
				<option value = "2">Dillon MAR</option>
				<option value = "3">Dillon MPR</option>
				<option value = "4">Murphy</option>
				<option value = "5">New South Main</option>
				<option value = "6">NS Warmup</option>
				<option value = "7">NS Theatre</option>
				<option value = "8">Whitman</option>
				<option value = "9">Wilcox</option>
			</select>
			<br>
		</td>
		<td>Rank 9: 
			<select id="rank_9" name="rank_9" style="--webkit-appearance: default;">
				<option value = "Select Company Name">Select Studio</option>
				<option value = "0">Bloomberg</option>
				<option value = "1">Dillon Dance</option>
				<option value = "2">Dillon MAR</option>
				<option value = "3">Dillon MPR</option>
				<option value = "4">Murphy</option>
				<option value = "5">New South Main</option>
				<option value = "6">NS Warmup</option>
				<option value = "7">NS Theatre</option>
				<option value = "8">Whitman</option>
				<option value = "9">Wilcox</option>
			</select>
			<br>
		</td>
		<td>Rank 10: 
			<select id="rank_10" name="rank_10" style="--webkit-appearance: default;">
				<option value = "Select Company Name">Select Studio</option>
				<option value = "0">Bloomberg</option>
				<option value = "1">Dillon Dance</option>
				<option value = "2">Dillon MAR</option>
				<option value = "3">Dillon MPR</option>
				<option value = "4">Murphy</option>
				<option value = "5">New South Main</option>
				<option value = "6">NS Warmup</option>
				<option value = "7">NS Theatre</option>
				<option value = "8">Whitman</option>
				<option value = "9">Wilcox</option>
			</select>
			<br>
		</td>
	  </tr>
  </table>

<!--
	
<div class="tabcontent" id="rank1">
	Rank 1st choice studio: 
	<br>
  	<input type="radio" class="form-control" name="rank1s" value="bloomberg">
		<label for="bloomberg">Bloomberg</label>
	<br>
	<input type="radio" class="form-control" name="rank1s" value="dillondance">
		<label for="dillondance">Dillon Dance</label>
	<br>
	<input type="radio" class="form-control" name="rank1s" value="dillonmar">
		<label for="dillonmar">Dillon MAR</label>
	<br>
	<input type="radio" class="form-control" name="rank1s" value="dillonmpr">
		<label for="dillonmpr">Dillon MPR</label>
	<br>
	<input type="radio" class="form-control" name="rank1s" value="murphy">
		<label for="murphy">Murphy</label>
	<br>
	<input type="radio" class="form-control" name="rank1s" value="ns">
		<label for="ns">NS Main</label>
	<br>
	<input type="radio" class="form-control" name="rank1s" value="nswarmup">
		<label for="nswarmup">NS Warmup</label>
	<br>
	<input type="radio" class="form-control" name="rank1s" value="nstheatre">
		<label for="nstheatre">NS Theatre</label>
	<br>
	<input type="radio" class="form-control" name="rank1s" value="whitman">
		<label for="whitman">Whitman</label>
	<br>
	<input type="radio" class="form-control" name="rank1s" value="wilcox">
		<label for="wilcox">Wilcox</label>
	<br>

</div>



<div class="tabcontent" id="rank2">
	Rank 2nd choice studio:
	<br>
	<input type="radio" class="form-control" name="rank2s" value="bloomberg">
	  <label for="bloomberg">Bloomberg</label>
	<br>
	<input type="radio" class="form-control" name="rank2s" value="dillondance">
		<label for="dillondance">Dillon Dance</label>
	<br>
	<input type="radio" class="form-control" name="rank2s" value="dillonmar">
		<label for="dillonmar">Dillon MAR</label>
	<br>
	<input type="radio" class="form-control" name="rank2s" value="dillonmpr">
		<label for="dillonmpr">Dillon MPR</label>
	<br>
	<input type="radio" class="form-control" name="rank2s" value="murphy">
		<label for="murphy">Murphy</label>
	<br>
	<input type="radio" class="form-control" name="rank2s" value="ns">
		<label for="ns">NS Main</label>
	<br>
	<input type="radio" class="form-control" name="rank2s" value="nswarmup">
		<label for="nswarmup">NS Warmup</label>
	<br>
	<input type="radio" class="form-control" name="rank2s" value="nstheatre">
		<label for="nstheatre">NS Theatre</label>
	<br>
	<input type="radio" class="form-control" name="rank2s" value="whitman">
		<label for="whitman">Whitman</label>
	<br>
	<input type="radio" class="form-control" name="rank2s" value="wilcox">
		<label for="wilcox">Wilcox</label>
	<br>

</div>



<div class="tabcontent" id="rank3">
	Rank 3rd choice studio:
	<br>
	<input type="radio" class="form-control" name="rank1s" value="bloomberg">
	  <label for="bloomberg">Bloomberg</label>
	<br>
	<input type="radio" class="form-control" name="rank3s" value="dillondance">
		<label for="dillondance">Dillon Dance</label>
	<br>
	<input type="radio" class="form-control" name="rank3s" value="dillonmar">
		<label for="dillonmar">Dillon MAR</label>
	<br>
	<input type="radio" class="form-control" name="rank3s" value="dillonmpr">
		<label for="dillonmpr">Dillon MPR</label>
	<br>
	<input type="radio" class="form-control" name="rank3s" value="murphy">
		<label for="murphy">Murphy</label>
	<br>
	<input type="radio" class="form-control" name="rank3s" value="ns">
		<label for="ns">NS Main</label>
	<br>
	<input type="radio" class="form-control" name="rank3s" value="nswarmup">
		<label for="nswarmup">NS Warmup</label>
	<br>
	<input type="radio" class="form-control" name="rank3s" value="nstheatre">
		<label for="nstheatre">NS Theatre</label>
	<br>
	<input type="radio" class="form-control" name="rank3s" value="whitman">
		<label for="whitman">Whitman</label>
	<br>
	<input type="radio" class="form-control" name="rank3s" value="wilcox">
		<label for="wilcox">Wilcox</label>
	<br>

</div>


<div class="tabcontent" id="rank4">
	Rank 4th choice studio:
	<br>
	<input type="radio" class="form-control" name="rank1s" value="bloomberg">
	  <label for="bloomberg">Bloomberg</label>
	<br>
	<input type="radio" class="form-control" name="rank4s" value="dillondance">
		<label for="dillondance">Dillon Dance</label>
	<br>
	<input type="radio" class="form-control" name="rank4s" value="dillonmar">
		<label for="dillonmar">Dillon MAR</label>
	<br>
	<input type="radio" class="form-control" name="rank4s" value="dillonmpr">
		<label for="dillonmpr">Dillon MPR</label>
	<br>
	<input type="radio" class="form-control" name="rank4s" value="murphy">
		<label for="murphy">Murphy</label>
	<br>
	<input type="radio" class="form-control" name="rank4s" value="ns">
		<label for="ns">NS Main</label>
	<br>
	<input type="radio" class="form-control" name="rank4s" value="nswarmup">
		<label for="nswarmup">NS Warmup</label>
	<br>
	<input type="radio" class="form-control" name="rank4s" value="nstheatre">
		<label for="nstheatre">NS Theatre</label>
	<br>
	<input type="radio" class="form-control" name="rank4s" value="whitman">
		<label for="whitman">Whitman</label>
	<br>
	<input type="radio" class="form-control" name="rank4s" value="wilcox">
		<label for="wilcox">Wilcox</label>
	<br>

</div>


<div class="tabcontent" id="rank5">
	Rank 5th choice studio:
	<br>
	<input type="radio" class="form-control" name="rank5s" value="bloomberg">
	  <label for="bloomberg">Bloomberg</label>
	<br>
	<input type="radio" class="form-control" name="rank5s" value="dillondance">
		<label for="dillondance">Dillon Dance</label>
	<br>
	<input type="radio" class="form-control" name="rank5s" value="dillonmar">
		<label for="dillonmar">Dillon MAR</label>
	<br>
	<input type="radio" class="form-control" name="rank5s" value="dillonmpr">
		<label for="dillonmpr">Dillon MPR</label>
	<br>
	<input type="radio" class="form-control" name="rank5s" value="murphy">
		<label for="murphy">Murphy</label>
	<br>
	<input type="radio" class="form-control" name="rank5s" value="ns">
		<label for="ns">NS Main</label>
	<br>
	<input type="radio" class="form-control" name="rank5s" value="nswarmup">
		<label for="nswarmup">NS Warmup</label>
	<br>
	<input type="radio" class="form-control" name="rank5s" value="nstheatre">
		<label for="nstheatre">NS Theatre</label>
	<br>
	<input type="radio" class="form-control" name="rank5s" value="whitman">
		<label for="whitman">Whitman</label>
	<br>
	<input type="radio" class="form-control" name="rank5s" value="wilcox">
		<label for="wilcox">Wilcox</label>
	<br>

</div>

-->