<!DOCTYPE html>
 <html>
   <head>
      <title>PrincetonDance.com</title>

    	 <link rel="stylesheet"  type="text/css" href="/static/pacApp/assets/css/input.css">
    	 <script src="/static/pacApp/assets/js/input.js"></script> 
    	 
      </head>
   <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#scheduleOnHome">What's Open</a>
                    <ul>
                        <li><a href="#scheduleOnHome">Schedule</a></li>
                        <li><a href="#openNow">Open Now</a></li>

                    </ul>
                </li>
                <li><a href="accounts/login">Booking</a>
                    <ul>
                        <li><a href="schedule">Dancer Booking</a></li>
                        <li><a href="adminForm">PAC Booking</a></li>
                        <li><a href="accounts/login">CAS Login</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
   <body>
 	{% include 'templates/pacApp/input.html' %}
	</body>
</html>