@import url("fontawesome-all.min.7dd3499c32f8.css");

input[type="text"],
textarea {
		-webkit-appearance: none;
		display: block;
		border: 0;
		background: #fafafa;
		width: 75%;
		border-radius: 0.5em;
		border: solid 1px #E5E5E5;
		padding: 1em;
    /* font-family: 'Arial'; */
		-moz-transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
}

/*
input::placeholder {
	color: #B0B0B0;
	color: red;
	opacity: 1;
} */

table, th, td {
  border: none;
  padding: 10px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 6px 12px;
  width:100%;
  position:relative;
}

/* Style the buttons that are used to open the tab content */
input[type="text"] .tab .tablinks {
  background-color: inherit;
  float: left;
  /* border: 1px solid #ccc; */
  border: none; 
  outline: none;
  cursor: pointer;

  padding: 14px 16px;
  transition: 0.3s;
  /* font-family: 'Arial'; */
}
.tablinks:after {
  content: '|';
}
.tablinks:last-child:after {
  content: '';
}


/* Change background color of buttons on hover */
.tab div:hover {
  background-color: #ddd;
}


/* Create an active/current tablink class */
input[type="text"] .tab div.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 10px 30px;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  /* font-family: 'Font Awesome 5 Free'; */
}





