.container-table100 {
  width: 100%;
  /*min-height: 100vh;*/
  background: #FFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding:0px 0px 0px 0px;
}

#SETUP AND SPACING

.wrap-table100 {
  width: 1300px;
}

table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
  text-align:left;
}

.column100 {
  width: 130px;
}

.column100:hover {
  background-color: #f2f2f2;
}

.column100.column1 {
  width: 265px;

}

.column100.column1:hover {
  background-color: #f2f2f2;
}

.row100.head th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.row100 td {
  padding-top: 10px;
  padding-bottom: 14px;
}

#TABLE STYLING
.table100.ver1 td {
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 th {
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 .row100:hover {
  background-color: #f2f2f2;
}

.table100.ver1 .column100:hover {
  background-color: #f2f2f2;
}


.table100.ver1 .hov-column-ver1 {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-head-ver1 {
  background-color: #484848 !important;
}


.table100.ver1 .row100 td:hover {
  background-color: #723875;
  color: #fff;
}

.disable td:hover {
  background-color: #f2f2f2;
}

.table100.ver1 .row200:hover {
  background-color: #f2f2f2;
}

.row200.head th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.row200 td {
  padding-top: 10px;
  padding-bottom: 14px;
}

