<form action="{% url 'insert_space_item' %}" method="POST" autocomplete="=off">
	{% csrf_token %}
	<div style="padding:10px" class="input-gtoup">
		Company_Name: <input type="text" class="form-control" name="company_name"> <br>
		Time_Start: <input type="text" class="form-control" name="time_start"><br>
		Time_End: <input type="text" class="form-control" name="time_end"><br>
		Studio: <input type="text" class="form-control" name="studio"><br>
		<div class="input-group-append text-info">
			<span class="input-grou-text bg-white py-0">
				<button type="submit" class="btn btn-sm text-info">
					<i class="fa fa-plus-circle fa-lg">
					</i>
					Post
				</button>
			</span>
		</div>
	</div>
</form>
   Results of DB:
<ul style="padding:10px" class="list-group">
	{% for item in space_list %}
	<li class="list-group-item">{{item.company_name}}{{item.time_start}}{{item.time_end}}{{item.studio}}</li>
	{% endfor %}
</ul>