<!-- setting up tabs for the different days --> 
<div class="tab">

<!-- data-date is a data field with name date retrieve using .data(key) --> 
<div class="tablinks" id="d0" data-date="" onclick="openDay('sun', this.id)">Sunday</div>
<div class="tablinks" id="d1" data-date="" onclick="openDay('mon', this.id)">Monday</div>
<div class="tablinks" id="d2" data-date="" onclick="openDay('tue', this.id)">Tuesday</div>
<div class="tablinks" id="d3" data-date="" onclick="openDay('wed', this.id)">Wednesday</div>
<div class="tablinks" id="d4" data-date="" onclick="openDay('thu', this.id)">Thursday</div>
<div class="tablinks" id="d5" data-date="" onclick="openDay('fri', this.id)">Friday</div>
<div class="tablinks" id="d6" data-date="" onclick="openDay('sat', this.id)">Saturday</div>
<div class="tablinks" class="dayselector">
	<input type="date" data-week="" autocomplete="on" id="curr" onchange="setupWeek(true)"></input>
</div>
<!-- <div class="tablinks" class='book' id="book" onclick="futurebooks()" style="float:right;background-color:#723875;color:white">Book</div> --> 
</div>

<!-- setting up the tab content calendar to be show for each day --> 
<div class="tabcontent" id="sun">{% include 'templates/pacApp/tableElements/sunday.html'%}</div>
<div class="tabcontent" id="mon">{% include 'templates/pacApp/tableElements/monday.html'%}</div>
<div class="tabcontent" id="tue">{% include 'templates/pacApp/tableElements/tuesday.html'%}</div>
<div class="tabcontent" id="wed">{% include 'templates/pacApp/tableElements/wednesday.html'%}</div>
<div class="tabcontent" id="thu">{% include 'templates/pacApp/tableElements/thursday.html'%}</div>
<div class="tabcontent" id="fri">{% include 'templates/pacApp/tableElements/friday.html'%}</div>
<div class="tabcontent" id="sat">{% include 'templates/pacApp/tableElements/saturday.html'%}</div>

