<!-- setting up tabs for the different days --> 
<div id="daystab" class="tab">
<!-- data-date is a data field with name date retrieve using .data(key) --> 
  <div class="tablinks" id="d0" data-date="{{sun}}" onclick="openDay('sun', this.id)">Sunday</div>
  <div class="tablinks" id="d1" data-date="{{mon}}" onclick="openDay('mon', this.id)">Monday</div>
  <div class="tablinks" id="d2" data-date="{{tue}}" onclick="openDay('tue', this.id)">Tuesday</div>
  <div class="tablinks" id="d3" data-date="{{wed}}" onclick="openDay('wed', this.id)">Wednesday</div>
  <div class="tablinks" id="d4" data-date="{{thu}}" onclick="openDay('thu', this.id)">Thursday</div>
  <div class="tablinks" id="d5" data-date="{{fri}}" onclick="openDay('fri', this.id)">Friday</div>
  <div class="tablinks" id="d6" data-date="{{sat}}" onclick="openDay('sat', this.id)">Saturday</div>
  <div class="tablinks"><input type="date" autocomplete="on" id="curr"></div>
  <div class="tablinks" class="button" style="background-color:#b76e79; color:white; float:right"><a style="text-decoration-line:none;" href="homepage">Home</a></div>
</div>

<!-- <script>
  function setTabs() {
	var w = [
    {% for d in week %}
        {
         year:"{{d|date:'Y'}}",
         month:"{{d|date:'n'}}",
         date: "{{d|date:'d'}}",
         day: "{{d|date:'D'}}",
         dateObj: new Date(parseInt("{{d|date:'Y'}}"), parseInt("{{d|date:'n'}}") - 1,parseInt("{{d|date:'d'}}")),
        },
    {% endfor %}
   ];

   w.forEach(matchweekdates);


   function matchweekdates(item,index) {
   		var weekds = {'Sun':0, 'Mon':1, 'Tue':2, 'Wed':3, 'Thu':4, 'Fri':5, 'Sat':6};
   		var day = weekds[item.day];
   		// console.log(day)
   		var id = '#d' + day;
   		$(id).data('date', item.dateObj);
   		console.log($(id).data('date'));
   }
   console.log('success')
	}

 // $('#daystab').ready(setTabs);

</script> --> 
