	<div id ="content5" class="container-table100" data-date="{{fri}}">
		<div class="wrap-table100">
			<div class="table100 ver1 m-b-110">
				<table data-vertable="ver1" class="table-bordered">
						{% include 'templates/pacApp/tableElements/timeheader.html' %}

						<tbody>

							<tr class="row100">
								<td class="studio" data-column="column1">Wilcox</td>
								{% for i in 15|get_range:25 %}
								<td id="wilcox{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="wilcox15" onclick="canEdit(this.id)"></td>
								<td id="wilcox25" onclick="canEdit(this.id)"></td>
							</tr>
							<tr class="row100">
								<td class="studio" data-column="column1">Bloomberg</td>
								{% for i in 15|get_range:25 %}
								<td id="bloomberg{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="bloomberg15" onclick="canEdit(this.id)"></td>
								<td id="bloomberg25" onclick="canEdit(this.id)"></td>
				
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Dillon Dance</td>
								{% for i in 15|get_range:25 %}
								<td id="dillondance{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillondance15" onclick="canEdit(this.id)"></td>
								<td id="dillondance25" onclick="canEdit(this.id)"></td>
							
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Dillon MAR</td>
								{% for i in 15|get_range:25 %}
								<td id="dillonmar{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillonmar15" onclick="canEdit(this.id)"></td>
								<td id="dillonmar25" onclick="canEdit(this.id)"></td>
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Dillon MPR</td>
								{% for i in 15|get_range:25 %}
								<td id="dillonmpr{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillonmpr15" onclick="canEdit(this.id)"></td>
								<td id="dillonmpr25" onclick="canEdit(this.id)"></td>
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Whitman</td>
								{% for i in 15|get_range:25 %}
								<td id="whitman{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="whitman15" onclick="canEdit(this.id)"></td>
								<td id="whitman25" onclick="canEdit(this.id)"></td>
					
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Murphy</td>
								{% for i in 15|get_range:25 %}
								<td id="murphy{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="murphy15" onclick="canEdit(this.id)"></td>
								<td id="murphy25" onclick="canEdit(this.id)"></td>
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">New South</td>
								{% for i in 15|get_range:25 %}
								<td id="ns{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="ns15" onclick="canEdit(this.id)"></td>
								<td id="ns25" onclick="canEdit(this.id)"></td>
								
							</tr>
								
						 
							<tr class="row100">
								<td class="studio" data-column="column1">NS Warmup</td>
								{% for i in 15|get_range:25 %}
								<td id="nswarmup{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="nswarmup15" onclick="canEdit(this.id)"></td>
								<td id="nswarmup25" onclick="canEdit(this.id)"></td>
							
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">NS Theatre</td>
								{% for i in 15|get_range:25 %}
								<td id="nstheatre{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="nstheatre15" onclick="canEdit(this.id)"></td>
								<td id="nstheatre25" onclick="canEdit(this.id)"></td>
								
							</tr>




						</tbody>
				</table>
			</div>
		</div>
	</div>
	