	<div id ="content5" class="container-table100" data-date="{{fri}}">
		<div>
			<div class="table100 ver1">
				<table class="table-bordered">
						{% include 'templates/pacApp/tableElements/timeheader.html' %}
						<tbody>

							<tr class="row100">
								<td class="studio">Wilcox</td>
								{% for i in 15|get_range:25 %}
								<td id="wilcox{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<!-- <td id="wilcox15" onclick="canEdit(this.id)"></td>
								<td id="wilcox25" onclick="canEdit(this.id)"></td> -->
							</tr>
							<tr class="row100">
								<td class="studio">Bloomberg</td>
								{% for i in 15|get_range:25 %}
								<td id="bloomberg{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
				
							</tr>

							<tr class="row100">
								<td class="studio">Dillon Dance</td>
								{% for i in 15|get_range:25 %}
								<td id="dillondance{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
						
							</tr>

							<tr class="row100">
								<td class="studio">Dillon MAR</td>
								{% for i in 15|get_range:25 %}
								<td id="dillonmar{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
					
							</tr>

							<tr class="row100">
								<td class="studio">Dillon MPR</td>
								{% for i in 15|get_range:25 %}
								<td id="dillonmpr{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
				
							</tr>

							<tr class="row100">
								<td class="studio">Whitman</td>
								{% for i in 15|get_range:25 %}
								<td id="whitman{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
					
							</tr>

							<tr class="row100">
								<td class="studio">Murphy</td>
								{% for i in 15|get_range:25 %}
								<td id="murphy{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
							
							</tr>

							<tr class="row100">
								<td class="studio">New South</td>
								{% for i in 15|get_range:25 %}
								<td id="ns{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
						
							</tr>
								
						 
							<tr class="row100">
								<td class="studio">NS Warmup</td>
								{% for i in 15|get_range:25 %}
								<td id="nswarmup{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
								
							</tr>

							<tr class="row100">
								<td class="studio">NS Theatre</td>
								{% for i in 15|get_range:25 %}
								<td id="nstheatre{{i}}5" onclick="canEdit(this.id)"></td>
								{% endfor %}
						
							</tr>

						</tbody>
				</table>
			</div>
		</div>
	</div>
	