
<div id="groupselect" class="form-check" data-date="{{weekday}}">
	<span style="font-size:0.9em"> Select the groups that you want to see spaces for </span><br>
	<input type="checkbox" id="BAC" name="selectGroups" value="BAC" style="-webkit-appearance: checkbox; cursor: pointer;" onchange="setupWeek('group');">
		<label class="selectgroup" for="BAC">BAC</label>

	<input type="checkbox" id="BodyHype" name="selectGroups" value="BodyHype" style="-webkit-appearance: checkbox; cursor:pointer;" onchange="setupWeek('group');">
		<label class="selectgroup" for="BodyHype">BodyHype</label>

	<input type="checkbox" id="Bhangra" name="selectGroups" value="Bhangra" style="-webkit-appearance: checkbox; cursor: pointer;" onchange="setupWeek('group');">
		<label class="selectgroup" for="Bhangra">Bhangra</label>

	<input type="checkbox" id="Disiac" name="selectGroups" value="Disiac" style="-webkit-appearance: checkbox; cursor: pointer;" onchange="setupWeek('group');">
		<label class="selectgroup" for="Disiac">Disiac</label>

	<input type="checkbox" id="eXpressions" name="selectGroups" value="eXpressions" style="-webkit-appearance: checkbox; cursor:pointer;" onchange="setupWeek('group');">
		<label class="selectgroup" for="eXpressions">eXpressions</label>

	<input type="checkbox" id="HighSteppers" name="selectGroups" value="HighSteppers" style="-webkit-appearance: checkbox; cursor: pointer;" onchange="setupWeek('group');">
		<label class="selectgroup" for="HighSteppers">HighSteppers</label>

	<input type="checkbox" id="Kokopops" name="selectGroups" value="Kokopops" style="-webkit-appearance: checkbox; cursor: pointer;" onchange="setupWeek('group');">
		<label class="selectgroup" for="Kokopops">Kokopops</label>

	<input type="checkbox" id="Naacho" name="selectGroups" value="Naacho" style="-webkit-appearance: checkbox; cursor: pointer;" onchange="setupWeek('group');">
		<label class="selectgroup" for="Naacho">Naacho</label>

	<input type="checkbox" id="Six14" name="selectGroups" value="Six14" style="-webkit-appearance: checkbox; cursor: pointer;" onchange="setupWeek('group');">
		<label class="selectgroup" for="Six14">Six14</label>

	<input type="checkbox" id="Sympoh" name="selectGroups" value="Sympoh" style="-webkit-appearance: checkbox; cursor: pointer;" onchange="setupWeek('group');">
		<label class="selectgroup" for="Sympoh">Sympoh</label>

	<input type="checkbox" id="Triple8" name="selectGroups" value="Triple8" style="-webkit-appearance: checkbox; cursor:pointer;" onchange="setupWeek('group');">
		<label class="selectgroup" for="Triple8">Triple 8</label>
	
	<input type="checkbox" id="PUB" name="selectGroups" value="PUB" style="-webkit-appearance: checkbox; cursor: pointer;" onchange="setupWeek('group');">
		<label class="selectgroup" for="PUB">PUB</label>
	
	
	
</div>