<div>
	<input type="checkbox" id="Sympoh" name="selectGroups" value="Sympoh" style="-webkit-appearance: checkbox; cursor: pointer;" onchange="setupWeek();">
		<label for="Sympoh">Sympoh</label>
	<input type="checkbox" id="Disiac" name="selectGroups" value="Disiac" style="-webkit-appearance: checkbox; cursor: pointer;" onchange="setupWeek();">
		<label for="Disiac">Disiac</label>
	<input type="checkbox" id="BAC" name="selectGroups" value="BAC" style="-webkit-appearance: checkbox; cursor: pointer;" onchange="setupWeek();">
		<label for="BAC">BAC</label>
	<input type="checkbox" id="PUB" name="selectGroups" value="PUB" style="-webkit-appearance: checkbox; cursor: pointer;" onchange="setupWeek();">
		<label for="PUB">PUB</label>
	<input type="checkbox" id="Expression" name="selectGroups" value="Expression" style="-webkit-appearance: checkbox; cursor:pointer;" onchange="setupWeek();">
		<label for="Expression">Expression</label>
</div>