
<div id="groupselect" class="form-check">
	<span style="font-size:0.9em"> Select the groups that you want to see spaces for </span><br>
	
	<input type="checkbox" class="select" id="BAC" name="selectGroups" value="1" onchange="setupWeek('group');"><label class="selectgroup" for="BAC">BAC</label>

	<input type="checkbox" class="select" id="Bhangra" name="selectGroups" value="2" onchange="setupWeek('group');"><label class="selectgroup" for="Bhangra">Bhangra</label>

	<input type="checkbox"class="select" id="BodyHype" name="selectGroups" value="3" onchange="setupWeek('group');"><label class="selectgroup" for="BodyHype">BodyHype</label>

	<input type="checkbox" class="select" id="Disiac" name="selectGroups" value="4" onchange="setupWeek('group');"><label class="selectgroup" for="Disiac">diSiac</label>

	<input type="checkbox" class="select" id="eXpressions" name="selectGroups" value="5" onchange="setupWeek('group');"><label class="selectgroup" for="eXpressions">eXpressions</label>

	<input type="checkbox" class="select" id="HighSteppers" name="selectGroups" value="6" onchange="setupWeek('group');"><label class="selectgroup" for="HighSteppers">HighSteppers</label>

	<input type="checkbox" class="select" id="Kokopops" name="selectGroups" value="7" onchange="setupWeek('group');"><label class="selectgroup" for="Kokopops">KoKo Pops</label>

	<input type="checkbox" class="select" id="Naacho" name="selectGroups" value="8" onchange="setupWeek('group');"><label class="selectgroup" for="Naacho">Naacho</label>

	<input type="checkbox" class="select" id="PUB" name="selectGroups" value="9" onchange="setupWeek('group');"><label class="selectgroup" for="PUB">PUB</label>

	<input type="checkbox" class="select" id="Six14" name="selectGroups" value="10" onchange="setupWeek('group');"><label class="selectgroup" for="Six14">Six14</label>

	<input type="checkbox" class="select" id="Sympoh" name="selectGroups" value="11" onchange="setupWeek('group');"><label class="selectgroup" for="Sympoh">Sympoh</label>

	<input type="checkbox" class="select" id="Triple8" name="selectGroups" value="12" onchange="setupWeek('group');"><label class="selectgroup" for="Triple8">Triple 8</label>

	<input type="checkbox" class="select" id="non" name="selectGroups" value="0" onchange="setupWeek('group');"><label class="selectgroup" for="non">Non-Group</label>
	
</div>