
	<div class="container-table100">
		<div class="wrap-table100">
			<div class="table100 ver1 m-b-110">
				<table data-vertable="ver1">
						{% include 'templates/pacApp/tableElements/timeheader.html' %}

						<tbody>

							<tr class="row100">
								<td class="studio" data-column="column1">Wilcox</td>
								{% for i in 15|get_range:25 %}
								<td id="wilcox{{i}}1"></td>
								{% endfor %}
								<td id="wilcox11"></td>
								<td id="wilcox21"></td>
							</tr>
							<tr class="row100">
								<td class="studio" data-column="column1">Bloomberg</td>
								{% for i in 15|get_range:25 %}
								<td id="bloomberg{{i}}1"></td>
								{% endfor %}
								<td id="bloomberg11"></td>
								<td id="bloomberg21"></td>
				
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Dillion Dance</td>
								{% for i in 15|get_range:25 %}
								<td id="dilliondance{{i}}1"></td>
								{% endfor %}
								<td id="dilliondance11"></td>
								<td id="dilliondance21"></td>
							
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Dillion MPR</td>
								{% for i in 15|get_range:25 %}
								<td id="dillionmpr{{i}}1"></td>
								{% endfor %}
								<td id="dillionmpr11"></td>
								<td id="dillionmpr21"></td>
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Roberts</td>
								{% for i in 15|get_range:25 %}
								<td id="roberts{{i}}1"></td>
								{% endfor %}
								<td id="roberts11"></td>
								<td id="roberts21"></td>
					
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Murphy</td>
								{% for i in 15|get_range:25 %}
								<td id="murphy{{i}}1"></td>
								{% endfor %}
								<td id="murphy11"></td>
								<td id="murphy21"></td>
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">New South</td>
								{% for i in 15|get_range:25 %}
								<td id="ns{{i}}1"></td>
								{% endfor %}
								<td id="ns11"></td>
								<td id="ns21"></td>
								
							</tr>
								
							
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Forbes Dance</td>
								{% for i in 15|get_range:25 %}
								<td id="forbes{{i}}1"></td>
								{% endfor %}
								<td id="forbes11"></td>
								<td id="forbes21"></td>
							
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Ellie</td>
								{% for i in 15|get_range:25 %}
								<td id="ellie{{i}}1"></td>
								{% endfor %}
								<td id="ellie11"></td>
								<td id="ellie21"></td>
								
							</tr>



						</tbody>
				</table>
			</div>
		</div>
	</div>
