 
	<div id ="content0" class="container-table100" data-date="{{sun}}">
		<div class="wrap-table100">
			<div class="table100 ver1 m-b-110">
				<table data-vertable="ver1">
						{% include 'templates/pacApp/tableElements/weekendtimeheader.html' %}

						<tbody>

							<tr class="row100">
								<td class="studio" data-column="column1">Wilcox</td>
								{% for i in 9|get_range:25 %}
								<!-- wilcox00 -->
								<td id="wilcox{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="wilcox10" onclick="canEdit(this.id)"></td>
								<!-- <td id="wilcox20" onclick="book(this.id)"></td>-->
							</tr>
							<tr class="row100">
								<td class="studio" data-column="column1">Bloomberg</td>
								{% for i in 9|get_range:25 %}
								<td id="bloomberg{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="bloomberg10" onclick="canEdit(this.id)"></td>
								<td id="bloomberg20" onclick="canEdit(this.id)"></td>
				
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Dillon Dance</td>
								{% for i in 9|get_range:25 %}
								<td id="dillondance{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillondance10" onclick="canEdit(this.id)"></td>
								<td id="dillondance20" onclick="canEdit(this.id)"></td>
							
							</tr>
							<tr class="row100">
								<td class="studio" data-column="column1">Dillon MAR</td>
								{% for i in 9|get_range:25 %}
								<td id="dillonmar{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillonmar10" onclick="canEdit(this.id)"></td>
								<td id="dillonmar20" onclick="canEdit(this.id)"></td>
					
							</tr>


							<tr class="row100">
								<td class="studio" data-column="column1">Dillon MPR</td>
								{% for i in 9|get_range:25 %}
								<td id="dillonmpr{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillonmpr10" onclick="canEdit(this.id)"></td>
								<td id="dillonmpr20" onclick="canEdit(this.id)"></td>
					
							</tr>

							

							<tr class="row100">
								<td class="studio" data-column="column1">Whitman</td>
								{% for i in 9|get_range:25 %}
								<td id="whitman{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="whitman10" onclick="canEdit(this.id)"></td>
								<td id="whitman20" onclick="canEdit(this.id)"></td>
					
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Murphy</td>
								{% for i in 9|get_range:25 %}
								<td id="murphy{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="murphy10" onclick="canEdit(this.id)"></td>
								<td id="murphy20" onclick="canEdit(this.id)"></td>
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">New South</td>
								{% for i in 9|get_range:25 %}
								<td id="ns{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="ns10" onclick="canEdit(this.id)"></td>
								<td id="ns20" onclick="canEdit(this.id)"></td>
								
							</tr>
								
							<tr class="row100">
								<td class="studio" data-column="column1">NS Warmup</td>
								{% for i in 9|get_range:25 %}
								<td id="nswarmup{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="nswarmup10" onclick="canEdit(this.id)"></td>
								<td id="nswarmup20" onclick="canEdit(this.id)"></td>
								
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">NS Theatre</td>
								{% for i in 9|get_range:25 %}
								<td id="nstheatre{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="nstheatre10" onclick="canEdit(this.id)"></td>
								<td id="nstheatre20" onclick="canEdit(this.id)"></td>
								
							</tr>
						</tbody>
				</table>
			</div>
		</div>
	</div>
