 
	<div id ="content0" class="container-table100" data-date="{{sun}}">
		<div>
			<div class="table100 ver1">
				<table class="table-bordered">
						{% include 'templates/pacApp/tableElements/weekendtimeheader.html' %}



							<tr class="row100">
								<td class="studio">Wilcox</td>
								{% for i in 9|get_range:25 %}
								<!-- wilcox00 -->
								<td id="wilcox{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
							
							</tr>
							<tr class="row100">
								<td class="studio">Bloomberg</td>
								{% for i in 9|get_range:25 %}
								<td id="bloomberg{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
								
							</tr>

							<tr class="row100">
								<td class="studio">Dillon Dance</td>
								{% for i in 9|get_range:25 %}
								<td id="dillondance{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
								
							</tr>
							<tr class="row100">
								<td class="studio">Dillon MAR</td>
								{% for i in 9|get_range:25 %}
								<td id="dillonmar{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
							</tr>


							<tr class="row100">
								<td class="studio">Dillon MPR</td>
								{% for i in 9|get_range:25 %}
								<td id="dillonmpr{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
							</tr>

							

							<tr class="row100">
								<td class="studio">Whitman</td>
								{% for i in 9|get_range:25 %}
								<td id="whitman{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
							</tr>

							<tr class="row100">
								<td class="studio">Murphy</td>
								{% for i in 9|get_range:25 %}
								<td id="murphy{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
							</tr>

							<tr class="row100">
								<td class="studio">New South</td>
								{% for i in 9|get_range:25 %}
								<td id="ns{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
								
							</tr>
								
							<tr class="row100">
								<td class="studio">NS Warmup</td>
								{% for i in 9|get_range:25 %}
								<td id="nswarmup{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
							</tr>

							<tr class="row100">
								<td class="studio">NS Theatre</td>
								{% for i in 9|get_range:25 %}
								<td id="nstheatre{{i}}0" onclick="canEdit(this.id)"></td>
								{% endfor %}
							</tr>
				</table>
			</div>
		</div>
	</div>
