<!-- if allows for booking we make pointer clickable hand --> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>


<div id="schedule" data-editable="{{editable}}">

<!-- want to update days tab with the new dates --> 
  <div id="daystab" class="tab">
<!-- data-date is a data field with name date retrieve using .data(key) --> 
  <div class="tablinks" id="d0" data-date="{{sun}}" onclick="openDay('sun', this.id)">Sunday
    <br><span id="d0date" style="display:none;font-size:0.85em;text-align:center;"></span>
  </div>
  <div class="tablinks" id="d1" data-date="{{mon}}" onclick="openDay('mon', this.id)">Monday
    <br><span id="d1date" style="display:none;font-size:0.85em;text-align:center;"></span>
  </div>
  <div class="tablinks" id="d2" data-date="{{tue}}" onclick="openDay('tue', this.id)">Tuesday
     <br><span id="d2date" style="display:none;font-size:0.85em;text-align:center;"></span>
  </div>
  <div class="tablinks" id="d3" data-date="{{wed}}" onclick="openDay('wed', this.id)">Wednesday 
    <br><span id="d3date" style="display:none;font-size:0.85em;text-align:center;"></span>
  </div>
  <div class="tablinks" id="d4" data-date="{{thu}}" onclick="openDay('thu', this.id)">Thursday
     <br><span id="d4date" style="display:none;font-size:0.85em;text-align:center;"></span>
  </div>
  <div class="tablinks" id="d5" data-date="{{fri}}" onclick="openDay('fri', this.id)">Friday
     <br><span id="d5date" style="display:none;font-size:0.85em;text-align:center;"></span>
  </div>
  <div class="tablinks" id="d6" data-date="{{sat}}" onclick="openDay('sat', this.id)">Saturday
     <br><span id="d6date" style="display:none;font-size:0.85em;text-align:center;"></span>
  </div>
  <div class="tablinks"><input type="date" max="2999-12-31" autocomplete="on" id="curr" onchange="setupWeek('week');"></div>
 <!-- <div class="tablinks" id="netid" value="{{user}}" style="margin-left:5em"></div> -->
   <div class="tablinks" id="booking" style="background-color:#df7366; color:#fff;float:right;margin-top:0.8em; padding: 0.8em;border-radius:0.2em">
    <a style="text-decoration-line:none;" href="schedule">Book a Space</a>
  </div> 
  </div>
  
<!-- setting up the tab content calendar to be show for each day --> 
<div class="tabcontent" id="sun">{% include 'templates/pacApp/tableElements/sunday.html'%}</div>
<div class="tabcontent" id="mon">{% include 'templates/pacApp/tableElements/monday.html'%}</div>
<div class="tabcontent" id="tue">{% include 'templates/pacApp/tableElements/tuesday.html'%}</div>
<div class="tabcontent" id="wed">{% include 'templates/pacApp/tableElements/wednesday.html'%}</div>
<div class="tabcontent" id="thu">{% include 'templates/pacApp/tableElements/thursday.html'%}</div>
<div class="tabcontent" id="fri">{% include 'templates/pacApp/tableElements/friday.html'%}</div>
<div class="tabcontent" id="sat">{% include 'templates/pacApp/tableElements/saturday.html'%}</div>
</div>


<!-- renders this page to be displayed when changes made --> 
<!-- for setting up the data initially --> 
<script type="text/javascript">
   // for each booking in wilcox, we make it a object here
   // each object will also be within this list 
   
    var wilcox = [
    // we passed in a context argument which is a list containing
    // an element called 'Wilcox'
    // Wilcox value is a list of bookings 
    {% for booking in Wilcox %}
        { // for each of the booking, create a new object booking with such fields
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"wilcox",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}",
         user_netid:"{{booking.user_netid}}"
        },
    {% endfor %}
   ];

    var bloomberg = [
    {% for booking in Bloomberg %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"bloomberg",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}",
         user_netid:"{{booking.user_netid}}"
        },
    {% endfor %}
   ];

  var dillondance = [
    {% for booking in DillonDance %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"dillondance",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}",
         user_netid:"{{booking.user_netid}}"
        },
    {% endfor %}
   ];
  console.log(dillondance);
   var dillonmpr = [
    {% for booking in DillonMPR %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"dillonmpr",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}",
         user_netid:"{{booking.user_netid}}"
        },
    {% endfor %}
   ];

   var dillonmar = [
    {% for booking in DillonMAR %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"dillonmar",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}",
         user_netid:"{{booking.user_netid}}"
        },
    {% endfor %}
   ];

   var whitman = [
    {% for booking in Whitman %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"whitman",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}",
         user_netid:"{{booking.user_netid}}"
        },
    {% endfor %}
   ];
   console.log(whitman);
   var murphy = [
    {% for booking in Murphy %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"murphy",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}",
         user_netid:"{{booking.user_netid}}"
        },
    {% endfor %}
   ];

    var ns = [
    {% for booking in NewSouth %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"ns",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}",
         user_netid:"{{booking.user_netid}}"
        },
    {% endfor %}
   ];

    var nswarmup = [
    {% for booking in NSWarmup %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"nswarmup",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}",
         user_netid:"{{booking.user_netid}}"
        },
    {% endfor %}
   ];

    var nstheatre = [
    {% for booking in NSTheatre %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"nstheatre",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}",
         user_netid:"{{booking.user_netid}}"
        },
    {% endfor %}
   ];

   // for each of the studio we call function called createBooking
   wilcox.forEach(createBooking);
   bloomberg.forEach(createBooking);
   dillondance.forEach(createBooking);
   dillonmar.forEach(createBooking);
   dillonmpr.forEach(createBooking);
   whitman.forEach(createBooking);
   murphy.forEach(createBooking);
   ns.forEach(createBooking);
   nswarmup.forEach(createBooking);
   nstheatre.forEach(createBooking);


   // here is the function createBooking defined 
   function createBooking(item, index) {
      for (let i = item.start_time; i != item.end_time; i++) {
         // ex. wilcox5
         // console.log(item.studio)
         // creating a specified id that we already had in place 
         let col = '#' + String(item.studio + i + item.week_day);

         // console.log(col)
         // for that element with particular id, add a class called test 
         let group = item.company_name;
         $(col).addClass('helen');
         $(col).addClass(group);
         $(col).html(item.company_name);
         // console.log(item);
         // don't allow it to be bookable 

         $(col).attr('onclick', 'handleDrop(event)');
         $(col).attr('data-name', item.company_name);
         $(col).attr('data-starttime', item.start_time);
         $(col).attr('data-endtime', item.end_time);
         $(col).attr('data-studio', item.studio);
         $(col).attr('data-weekday', item.week_day);
         $(col).attr('data-bookingdate', item.booking_date);
         $(col).attr('data-usernetid', item.user_netid);
         // upon click, calls drop() 
         // $(col).attr('onclick','drop()');
      }  
   }
    // $('td').css('cursor','pointer');
    var weekday = parseInt("{{weekday}}");
    console.log(weekday);
    var currday = "{{currday}}";
    if (currday != 'None') {
       $('#d'+currday).addClass('today');
    }
    $('#curr').val("{{formatdate}}");
   
    var daysofweek = ['sun','mon','tue','wed','thu','fri','sat'];
    openDay(daysofweek[weekday], 'd'+weekday);


  var edit = "{{place}}";
  console.log('place' + '{{place}}');
  var place = String(window.location.pathname);
  $('#schedule').data('editable','{{place}}');
  console.log('edit ' + edit);
  console.log(place);
  if (place == "/" || place == "/homepage") {
      console.log('is false and already on home page');
      $('#headerschedule').css('display','none');
      $('tr').removeClass("row100");
      $('tr').addClass("row200");
  }
  else {
    $('#booking').css('display','none');
    console.log("{{user}}");
    if ("{{user}}" != 'None') {
        $('#netid').html("Hello, {{user}}");
        $('#netid').val("{{user}}");
      }
  }
   </script>