<!-- if allows for booking we make pointer clickable hand --> 
{% if cursor == 'pointer' %}
  <style> 
    th, td {
      cursor: pointer;
    }
  </style>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<div id="schedule" data-editable="{{editable}}">
<!-- setting up the tab content calendar to be show for each day --> 
<div class="tabcontent" id="sun">{% include 'templates/pacApp/tableElements/sunday.html'%}</div>
<div class="tabcontent" id="mon">{% include 'templates/pacApp/tableElements/monday.html'%}</div>
<div class="tabcontent" id="tue">{% include 'templates/pacApp/tableElements/tuesday.html'%}</div>
<div class="tabcontent" id="wed">{% include 'templates/pacApp/tableElements/wednesday.html'%}</div>
<div class="tabcontent" id="thu">{% include 'templates/pacApp/tableElements/thursday.html'%}</div>
<div class="tabcontent" id="fri">{% include 'templates/pacApp/tableElements/friday.html'%}</div>
<div class="tabcontent" id="sat">{% include 'templates/pacApp/tableElements/saturday.html'%}</div>
</div>

<!-- renders this page to be displayed when changes made --> 
<!-- for setting up the data initially --> 
<script type="text/javascript">
   // for each booking in wilcox, we make it a object here
   // each object will also be within this list 
   
    var wilcox = [
    // we passed in a context argument which is a list containing
    // an element called 'Wilcox'
    // Wilcox value is a list of bookings 
    {% for booking in Wilcox %}
        { // for each of the booking, create a new object booking with such fields
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"wilcox",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}"
        },
    {% endfor %}
   ];

    var bloomberg = [
    {% for booking in Bloomberg %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"bloomberg",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}"
        },
    {% endfor %}
   ];

  var dillondance = [
    {% for booking in DillonDance %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"dillondance",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}"
        },
    {% endfor %}
   ];
  console.log(dillondance);
   var dillonmpr = [
    {% for booking in DillonMPR %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"dillonmpr",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}"
        },
    {% endfor %}
   ];

   var dillonmar = [
    {% for booking in DillonMAR %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"dillonmar",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}"
        },
    {% endfor %}
   ];

   var whitman = [
    {% for booking in Whitman %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"whitman",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}"
        },
    {% endfor %}
   ];
   console.log(whitman);
   var murphy = [
    {% for booking in Murphy %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"murphy",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}"
        },
    {% endfor %}
   ];

    var ns = [
    {% for booking in NewSouth %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"ns",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}"
        },
    {% endfor %}
   ];

    var nswarmup = [
    {% for booking in NSWarmup %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"nswarmup",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}"
        },
    {% endfor %}
   ];

    var nstheatre = [
    {% for booking in NSTheatre %}
        {
         company_name:"{{booking.company_name}}",
         start_time:"{{booking.start_time}}",
         end_time:"{{booking.end_time}}",
         studio:"nstheatre",
         week_day:"{{booking.week_day}}",
         booking_date:"{{booking.booking_date}}"
        },
    {% endfor %}
   ];

   // for each of the studio we call function called createBooking
   wilcox.forEach(createBooking);
   bloomberg.forEach(createBooking);
   dillondance.forEach(createBooking);
   dillonmar.forEach(createBooking);
   dillonmpr.forEach(createBooking);
   whitman.forEach(createBooking);
   murphy.forEach(createBooking);
   ns.forEach(createBooking);
   nswarmup.forEach(createBooking);
   nstheatre.forEach(createBooking);

   // here is the function createBooking defined 
   function createBooking(item, index) {

      for (let i = item.start_time; i != item.end_time; i++) {
         // ex. wilcox5
         // console.log(item.studio)
         // creating a specified id that we already had in place 
         let col = '#' + String(item.studio + i + item.week_day);

         // console.log(col)
         // for that element with particular id, add a class called test 
         let group = item.company_name;
         $(col).addClass('helen');
         $(col).addClass(group);
         $(col).html(item.company_name);
         // don't allow it to be bookable 
         // $(col).attr('onclick','');
         // upon click, calls drop() 
         $(col).attr('onclick','drop()');
      }  
   }
  
    var weekday = parseInt("{{weekday}}");
    // console.log(weekday);
    var current = "{{currentdate}}";
    var daysofweek = ['sun','mon','tue','wed','thu','fri','sat'];
    openDay(daysofweek[weekday], 'd'+weekday);

   </script>