
	<div id ="content4" class="container-table100" data-date="{{thu}}">
		<div class="wrap-table100">
			<div class="table100 ver1 m-b-110">
				<table data-vertable="ver1">
						{% include 'templates/pacApp/tableElements/timeheader.html' %}

						<tbody>

							<tr class="row100">
								<td class="studio" data-column="column1">Wilcox</td>
								{% for i in 15|get_range:25 %}
								<td id="wilcox{{i}}4" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="wilcox14" onclick="canEdit(this.id)"></td>
								<td id="wilcox24" onclick="canEdit(this.id)"></td>
							</tr>
							<tr class="row100">
								<td class="studio" data-column="column1">Bloomberg</td>
								{% for i in 15|get_range:25 %}
								<td id="bloomberg{{i}}4" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="bloomberg14" onclick="canEdit(this.id)"></td>
								<td id="bloomberg24" onclick="canEdit(this.id)"></td>
				
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Dillon Dance</td>
								{% for i in 15|get_range:25 %}
								<td id="dillondance{{i}}4" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillondance14" onclick="canEdit(this.id)"></td>
								<td id="dillondance24" onclick="canEdit(this.id)"></td>
							
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Dillon MAR</td>
								{% for i in 15|get_range:25 %}
								<td id="dillonmar{{i}}4" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillonmar14" onclick="canEdit(this.id)"></td>
								<td id="dillonmar24" onclick="canEdit(this.id)"></td>
					
							</tr>
							
							<tr class="row100">
								<td class="studio" data-column="column1">Dillon MPR</td>
								{% for i in 15|get_range:25 %}
								<td id="dillonmpr{{i}}4" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillonmpr14" onclick="canEdit(this.id)"></td>
								<td id="dillonmpr24" onclick="canEdit(this.id)"></td>
					
							</tr>

							

							<tr class="row100">
								<td class="studio" data-column="column1">Whitman</td>
								{% for i in 15|get_range:25 %}
								<td id="whitman{{i}}4" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="whitman14" onclick="canEdit(this.id)"></td>
								<td id="whitman24" onclick="canEdit(this.id)"></td>
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Murphy</td>
								{% for i in 15|get_range:25 %}
								<td id="murphy{{i}}4" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="murphy14" onclick="canEdit(this.id)"></td>
								<td id="murphy24" onclick="canEdit(this.id)"></td>
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">New South</td>
								{% for i in 15|get_range:25 %}
								<td id="ns{{i}}4" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="ns14" onclick="canEdit(this.id)"></td>
								<td id="ns24" onclick="canEdit(this.id)"></td>
								
							</tr>
								
							<tr class="row100">
								<td class="studio" data-column="column1">NS Warmup</td>
								{% for i in 15|get_range:25 %}
								<td id="nswarmup{{i}}4" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="nswarmup14" onclick="canEdit(this.id)"></td>
								<td id="nswarmup24" onclick="canEdit(this.id)"></td>
								
							</tr>
							<tr class="row100">
								<td class="studio" data-column="column1">NS Theatre</td>
								{% for i in 15|get_range:25 %}
								<td id="nstheatre{{i}}4" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="nstheatre14" onclick="canEdit(this.id)"></td>
								<td id="nstheatre24" onclick="canEdit(this.id)"></td>
								
							</tr>

						</tbody>
				</table>
			</div>
		</div>
	</div>
	