<!-- row of the time of day headers --> 
<thead>
<tr class="row100 head">
<th class="column100 column1" data-column="column1"></th>
<th class="column100 column6" data-column="column3">3pm</th>
<th class="column100 column5" data-column="column4">4pm</th>
<th class="column100 column6" data-column="column5">5pm</th>
<th class="column100 column7" data-column="column6">6pm</th>
<th class="column100 column8" data-column="column7">7pm</th>
<th class="column100 column2" data-column="column8">8pm</th>
<th class="column100 column3" data-column="column9">9pm</th>
<th class="column100 column4" data-column="column10">10pm</th>
<th class="column100 column5" data-column="column11">11pm</th>
<th class="column100 column6" data-column="column12">12am</th>
<th class="column100 column7" data-column="column13">1am</th>
</tr>
</thead>