
	<div id ="content2" class="container-table100" data-date="{{tue}}">
		<div>
			<div>
				<table class="table-bordered">
						{% include 'templates/pacApp/tableElements/timeheader.html' %}
						  <!-- Modal content -->
						<tbody>

							<tr class="row100">
								<td class="studio">Wilcox</td>
								{% for i in 15|get_range:25 %}
								<td id="wilcox{{i}}2" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="wilcox12" onclick="canEdit(this.id)"></td>
								<!--<td id="wilcox22" onclick="book(this.id)"></td> -->
							</tr>
							<tr class="row100">
								<td class="studio">Bloomberg</td>
								{% for i in 15|get_range:25 %}
								<td id="bloomberg{{i}}2" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="bloomberg12" onclick="canEdit(this.id)"></td>
								<!--<td id="bloomberg22" onclick="book(this.id)"></td> -->
				
							</tr>

							<tr class="row100">
								<td class="studio">Dillon Dance</td>
								{% for i in 15|get_range:25 %}
								<td id="dillondance{{i}}2" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillondance12" onclick="canEdit(this.id)"></td>
								<!-- <td id="dillondance22" onclick="book(this.id)"></td> -->
							
							</tr>
							<tr class="row100">
								<td class="studio">Dillon MAR</td>
								{% for i in 15|get_range:25 %}
								<td id="dillonmar{{i}}2" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillonmar12" onclick="canEdit(this.id)"></td>
								<!-- <td id="dillonmpr22" onclick="book(this.id)"></td> -->
					
							</tr>

							<tr class="row100">
								<td class="studio">Dillon MPR</td>
								{% for i in 15|get_range:25 %}
								<td id="dillonmpr{{i}}2" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillonmpr12" onclick="canEdit(this.id)"></td>
								<!-- <td id="dillonmpr22" onclick="book(this.id)"></td> -->
					
							</tr>

							

							<tr class="row100">
								<td class="studio">Whitman</td>
								{% for i in 15|get_range:25 %}
								<td id="whitman{{i}}2" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="whitman12" onclick="canEdit(this.id)"></td>
								<!-- <td id="roberts22" onclick="book(this.id)"></td> -->
					
					
							</tr>

							<tr class="row100">
								<td class="studio">Murphy</td>
								{% for i in 15|get_range:25 %}
								<td id="murphy{{i}}2" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="murphy12" onclick="canEdit(this.id)"></td>
								<!-- <td id="murphy22" onclick="book(this.id)"></td> -->
					
							</tr>

							<tr class="row100">
								<td class="studio">New South</td>
								{% for i in 15|get_range:25 %}
								<td id="ns{{i}}2" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="ns12" onclick="canEdit(this.id)"></td>
								<!-- <td id="ns22" onclick="book(this.id)"></td> -->
								
							</tr>
								
							<tr class="row100">
								<td class="studio">NS Warmup</td>
								{% for i in 15|get_range:25 %}
								<td id="nswarmup{{i}}2" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="nswarmup12" onclick="canEdit(this.id)"></td>
								<!-- <td id="ns22" onclick="book(this.id)"></td> -->
								
							</tr>
							<tr class="row100">
								<td class="studio">NS Theatre</td>
								{% for i in 15|get_range:25 %}
								<td id="nstheatre{{i}}2" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="nstheatre12" onclick="canEdit(this.id)"></td>
								<!-- <td id="ns22" onclick="book(this.id)"></td> -->
								
							</tr>
						</tbody>
				</table>
			</div>
		</div>
	</div>
	