
	<div class="container-table100">
		<div class="wrap-table100">
			<div class="table100 ver1 m-b-110">
				<table data-vertable="ver1">
						{% include 'templates/pacApp/tableElements/timeheader.html' %}
						  <!-- Modal content -->
						<tbody>

							<tr class="row100">
								<td class="studio" data-column="column1">Wilcox</td>
								{% for i in 15|get_range:25 %}
								<td id="wilcox{{i}}2" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="wilcox12" onclick="book(this.id)"></td>
								<td id="wilcox22" onclick="book(this.id)"></td>
							</tr>
							<tr class="row100">
								<td class="studio" data-column="column1">Bloomberg</td>
								{% for i in 15|get_range:25 %}
								<td id="bloomberg{{i}}2" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="bloomberg12" onclick="book(this.id)"></td>
								<td id="bloomberg22" onclick="book(this.id)"></td>
				
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Dillion Dance</td>
								{% for i in 15|get_range:25 %}
								<td id="dilliondance{{i}}2" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="dilliondance12" onclick="book(this.id)"></td>
								<td id="dilliondance22" onclick="book(this.id)"></td>
							
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Dillion MPR</td>
								{% for i in 15|get_range:25 %}
								<td id="dillionmpr{{i}}2" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="dillionmpr12" onclick="book(this.id)"></td>
								<td id="dillionmpr22" onclick="book(this.id)"></td>
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Roberts</td>
								{% for i in 15|get_range:25 %}
								<td id="roberts{{i}}2" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="roberts12" onclick="book(this.id)"></td>
								<td id="roberts22" onclick="book(this.id)"></td>
					
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Murphy</td>
								{% for i in 15|get_range:25 %}
								<td id="murphy{{i}}2" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="murphy12" onclick="book(this.id)"></td>
								<td id="murphy22" onclick="book(this.id)"></td>
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">New South</td>
								{% for i in 15|get_range:25 %}
								<td id="ns{{i}}2" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="ns12" onclick="book(this.id)"></td>
								<td id="ns22" onclick="book(this.id)"></td>
								
							</tr>
								
							
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Forbes Dance</td>
								{% for i in 15|get_range:25 %}
								<td id="forbes{{i}}2" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="forbes12" onclick="book(this.id)"></td>
								<td id="forbes22" onclick="book(this.id)"></td>
							
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Ellie</td>
								{% for i in 15|get_range:25 %}
								<td id="ellie{{i}}2" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="ellie12" onclick="book(this.id)"></td>
								<td id="ellie22" onclick="book(this.id)"></td>
								
							</tr>



						</tbody>
				</table>
			</div>
		</div>
	</div>
