
	<div id ="content3" class="container-table100" data-date="{{wed}}">
		<div class="wrap-table100">
			<div class="table100 ver1 m-b-110">
				<table data-vertable="ver1">
						{% include 'templates/pacApp/tableElements/timeheader.html' %}

						<tbody>

							<tr class="row100">
								<td class="studio" data-column="column1">Wilcox</td>
								{% for i in 15|get_range:25 %}
								<td id="wilcox{{i}}3" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="wilcox13" onclick="book(this.id)"></td>
								<td id="wilcox23" onclick="book(this.id)"></td>
							</tr>
							<tr class="row100">
								<td class="studio" data-column="column1">Bloomberg</td>
								{% for i in 15|get_range:25 %}
								<td id="bloomberg{{i}}3" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="bloomberg13" onclick="book(this.id)"></td>
								<td id="bloomberg23" onclick="book(this.id)"></td>
				
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Dillon Dance</td>
								{% for i in 15|get_range:25 %}
								<td id="dilliondance{{i}}3" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="dilliondance13" onclick="book(this.id)"></td>
								<td id="dilliondance23" onclick="book(this.id)"></td>
							
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Dillon MPR</td>
								{% for i in 15|get_range:25 %}
								<td id="dillionmpr{{i}}3" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="dillionmpr13" onclick="book(this.id)"></td>
								<td id="dillionmpr23" onclick="book(this.id)"></td>
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Roberts</td>
								{% for i in 15|get_range:25 %}
								<td id="roberts{{i}}3" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="roberts13" onclick="book(this.id)"></td>
								<td id="roberts23" onclick="book(this.id)"></td>
					
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Murphy</td>
								{% for i in 15|get_range:25 %}
								<td id="murphy{{i}}3" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="murphy13" onclick="book(this.id)"></td>
								<td id="murphy23" onclick="book(this.id)"></td>
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">New South</td>
								{% for i in 15|get_range:25 %}
								<td id="ns{{i}}3" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="ns13" onclick="book(this.id)"></td>
								<td id="ns23" onclick="book(this.id)"></td>
								
							</tr>
								
							
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Forbes Dance</td>
								{% for i in 15|get_range:25 %}
								<td id="forbes{{i}}3" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="forbes13" onclick="book(this.id)"></td>
								<td id="forbes23" onclick="book(this.id)"></td>
							
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Ellie</td>
								{% for i in 15|get_range:25 %}
								<td id="ellie{{i}}3" onclick="book(this.id)"></td>
								{% endfor %}
								<td id="ellie13" onclick="book(this.id)"></td>
								<td id="ellie23" onclick="book(this.id)"></td>
								
							</tr>



						</tbody>
				</table>
			</div>
		</div>
	</div>
