
	<div id ="content3" class="container-table100" data-date="{{wed}}">
		<div class="wrap-table100">
			<div class="table100 ver1 m-b-110">
				<table data-vertable="ver1">
						{% include 'templates/pacApp/tableElements/timeheader.html' %}

						<tbody>

							<tr class="row100">
								<td class="studio" data-column="column1">Wilcox</td>
								{% for i in 15|get_range:25 %}
								<td id="wilcox{{i}}3" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="wilcox13" onclick="canEdit(this.id)"></td>
								<td id="wilcox23" onclick="canEdit(this.id)"></td>
							</tr>
							<tr class="row100">
								<td class="studio" data-column="column1">Bloomberg</td>
								{% for i in 15|get_range:25 %}
								<td id="bloomberg{{i}}3" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="bloomberg13" onclick="canEdit(this.id)"></td>
								<td id="bloomberg23" onclick="canEdit(this.id)"></td>
				
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Dillon Dance</td>
								{% for i in 15|get_range:25 %}
								<td id="dillondance{{i}}3" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillondance13" onclick="canEdit(this.id)"></td>
								<td id="dillondance23" onclick="canEdit(this.id)"></td>
							
							</tr>
							<tr class="row100">
								<td class="studio" data-column="column1">Dillon MAR</td>
								{% for i in 15|get_range:25 %}
								<td id="dillonmar{{i}}3" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillonmar13" onclick="canEdit(this.id)"></td>
								<td id="dillonmar23" onclick="canEdit(this.id)"></td>
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Dillon MPR</td>
								{% for i in 15|get_range:25 %}
								<td id="dillonmpr{{i}}3" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="dillonmpr13" onclick="canEdit(this.id)"></td>
								<td id="dillonmpr23" onclick="canEdit(this.id)"></td>
					
							</tr>
							
							<tr class="row100">
								<td class="studio" data-column="column1">Whitman</td>
								{% for i in 15|get_range:25 %}
								<td id="whitman{{i}}3" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="whitman13" onclick="canEdit(this.id)"></td>
								<td id="whitman23" onclick="canEdit(this.id)"></td>
					
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">Murphy</td>
								{% for i in 15|get_range:25 %}
								<td id="murphy{{i}}3" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="murphy13" onclick="canEdit(this.id)"></td>
								<td id="murphy23" onclick="canEdit(this.id)"></td>
					
							</tr>

							<tr class="row100">
								<td class="studio" data-column="column1">New South</td>
								{% for i in 15|get_range:25 %}
								<td id="ns{{i}}3" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="ns13" onclick="canEdit(this.id)"></td>
								<td id="ns23" onclick="canEdit(this.id)"></td>
								
							</tr>
								
							<tr class="row100">
								<td class="studio" data-column="column1">NS Warmup</td>
								{% for i in 15|get_range:25 %}
								<td id="nswarmup{{i}}3" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="nswarmup13" onclick="canEdit(this.id)"></td>
								<td id="nswarmup23" onclick="canEdit(this.id)"></td>
								
							</tr>
							<tr class="row100">
								<td class="studio" data-column="column1">NS Theatre</td>
								{% for i in 15|get_range:25 %}
								<td id="nstheatre{{i}}3" onclick="canEdit(this.id)"></td>
								{% endfor %}
								<td id="nstheatre13" onclick="canEdit(this.id)"></td>
								<td id="nstheatre23" onclick="canEdit(this.id)"></td>
								
							</tr>
							
					

						</tbody>
				</table>
			</div>
		</div>
	</div>
