<!-- row of the time of day headers --> 
<thead>
<tr class="row100 head">
<th class="studio"></th>
<th class="column100 column1 col">9AM</th>
<th class="column100 column1 col">10AM</th>
<th class="column100 column1 col">11AM</th>
<th class="column100 column1 col">12PM</th>
<th class="column100 column1 col">1PM</th>
<th class="column100 column1 col">2PM</th>
<th class="column100 column1 col">3PM</th>
<th class="column100 column1 col">4PM</th>
<th class="column100 column1 col">5PM</th>
<th class="column100 column1 col">6PM</th>
<th class="column100 column1 col">7PM</th>
<th class="column100 column1 col">8PM</th>
<th class="column100 column1 col">9PM</th>
<th class="column100 column1 col">10PM</th>
<th class="column100 column1 col">11PM</th>
<th class="column100 column1 col">12AM</th>
<!-- <th class="column100 column1 col">1AM</th> -->
</tr>
</thead>
