<!-- row of the time of day headers --> 
<thead>
<tr class="row100 head">
<th class="column100 column1" data-column="column1"></td>
<th class="column100 column1" data-column="column1">9AM</td>
<th class="column100 column1" data-column="column1">10AM</td>
<th class="column100 column1" data-column="column1">11AM</td>
<th class="column100 column1" data-column="column1">12PM</td>
<th class="column100 column1" data-column="column1">1PM</td>
<th class="column100 column1" data-column="column1">2PM</td>
<th class="column100 column1" data-column="column3">3PM</td>
<th class="column100 column1" data-column="column4">4PM</th>
<th class="column100 column1" data-column="column5">5PM</th>
<th class="column100 column1" data-column="column6">6PM</th>
<th class="column100 column1" data-column="column7">7PM</th>
<th class="column100 column1" data-column="column8">8PM</th>
<th class="column100 column1" data-column="column9">9PM</th>
<th class="column100 column1" data-column="column10">10PM</th>
<th class="column100 column1" data-column="column11">11PM</th>
<th class="column100 column1" data-column="column12">12AM</th>
<th class="column100 column1" data-column="column13">1AM</th>
</tr>
</thead>