<table style="width:100%;"> 
	<tr>
		<th></th>
		<th class="studio" >Wilcox</th>
		<th class="studio" >Bloomberg</th>
		<th class="studio" >Roberts</th>
		<th class="studio" >Murphy</th>
		<th class="studio" >New South</th>
		<th class="studio" >Dillion Dance</th>
		<th class="studio" >Dillion MPR</th>
	</tr>
	<tr>
		<td class="time">4</td>
		<td>Wilcox 4</td>
		<td>Bloomberg 4</td>
		<td><td>
		<td><td>
		<td><td>
		<td><td>

	</tr>
	<tr>
		<td class="time">5</td>
		<td>Wilcox 5</td>
		<td>Bloomberg 5</td>
		<td><td>
		<td><td>
		<td><td>
		<td><td>
	</tr>

	<tr>
		<td class="time">6</td>
		<td>Wilcox 6</td>
		<td>Bloomberg 6</td>
		<td><td>
		<td><td>
		<td><td>
		<td><td>
	</tr>
	<tr>
		<td class="time">7</td>
		<td>Wilcox 7</td>
		<td>Bloomberg 7</td>
		<td><td>
		<td><td>
		<td><td>
		<td><td>
	</tr>
	<tr>
		<td class="time">8</td>
		<td>Wilcox 7</td>
		<td>Bloomberg 7</td>
		<td><td>
		<td><td>
		<td><td>
		<td><td>
	</tr>
	<tr>
		<td class="time">9</td>
		
	</tr>
	<tr><td class="time">10</td></tr>
	<tr><td class="time">11</td></tr>
	<tr><td class="time">12</td></tr>
	<tr><td class="time">1</td></tr>
	
</table>
